<p id="notice"><%= notice %></p>

<p>
  <strong>Schedule:</strong>
  <%= @tx_schedule_message.schedule_id %>
</p>

<p>
  <strong>Num alarma:</strong>
  <%= @tx_schedule_message.Num_Alarma %>
</p>

<p>
  <strong>Letter color:</strong>
  <%= @tx_schedule_message.letter_color %>
</p>

<p>
  <strong>Background color:</strong>
  <%= @tx_schedule_message.background_color %>
</p>

<p>
  <strong>Message:</strong>
  <%= @tx_schedule_message.message %>
</p>

<p>
  <strong>Bit date:</strong>
  <%= @tx_schedule_message.bit_date %>
</p>

<p>
  <strong>Bit description:</strong>
  <%= @tx_schedule_message.bit_description %>
</p>

<p>
  <strong>Bit escala:</strong>
  <%= @tx_schedule_message.bit_escala %>
</p>

<p>
  <strong>Bit limit:</strong>
  <%= @tx_schedule_message.bit_limit %>
</p>

<p>
  <strong>Bit reference:</strong>
  <%= @tx_schedule_message.bit_reference %>
</p>

<%= link_to 'Edit', edit_tx_schedule_message_path(@tx_schedule_message) %> |
<%= link_to 'Back', tx_schedule_messages_path %>
