<!--<h2>Edit <%= resource_name.to_s.humanize %></h2>-->

<script>
    jQuery(function ($) {
        $("#phones").mask("(99) 9999-9999");
        $("#phones").focusout(function () {
            var valor = $(this).val();
            valor = valor.replace("(", "")
            valor = valor.replace("_", "")
            valor = valor.replace("_", "")
            valor = valor.replace(")", "")
            valor = valor.replace(" ", "")
            valor = valor.replace("_", "")
            valor = valor.replace("_", "")
            valor = valor.replace("_", "")
            valor = valor.replace("_", "")
            valor = valor.replace("-", "")
            valor = valor.replace("_", "")
            valor = valor.replace("_", "")
            valor = valor.replace("_", "")
            valor = valor.replace("_", "")

            if (valor.length < 10) {
                $("#phones").val("");
            }
        })
    });

    jQuery(function ($) {
        $("#phones").mask("(99) 9999-9999");
    });

</script>

<script>
    jQuery(function ($) {
        $("#exts").mask("9999");
    });

    jQuery(function ($) {
        $("#exts").mask("9999");
    });

</script>

<div class="row">
  <div class="col-md-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('views.users_edit.title_u_edit_devise') %></h1>
      </div>
      <div class="ibox-content" id="responsiveTable">


        <div class="middle-box text-center loginscreen   animated fadeInDown">
          <div>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put, :id => 'form1'}) do |f| %>
              <%= devise_error_messages! %>

              <div align="left" class="form-group">
                <label><%= t('activerecord.atributes.username') %></label>
                <%= f.text_field :user_name, autofocus: true, class: "form-control", placeholder: 'User Name', :required => true, :unique => true, autocomplete: "off", :maxlength => '255' %>

              </div>

              <div align="left" class="form-group">
                <label><%= t('activerecord.atributes.name') %></label>
                <%= f.text_field :name, class: "form-control", placeholder: 'Name', :required => true, autocomplete: "off", :readonly => true, :maxlength => '255' %>

              </div>

              <div align="left" class="form-group">
                <label><%= t('activerecord.atributes.last_name') %></label>
                <%= f.text_field :last_name, class: "form-control", placeholder: 'Last Name', :required => true, autocomplete: "off", :readonly => true, :maxlength => '255' %>

              </div>

              <div align="left" class="form-group">
                <label><%= t('activerecord.atributes.email') %></label>
                <%= f.email_field :email, autofocus: true, :autocomplete => :off, autofocus: true, placeholder: "E-mail registration", :class => 'form-control input-sm', :required => true, :readonly => true, :maxlength => '255' %>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div align="left" class="form-group">
                    <label><%= t('activerecord.atributes.phone') %></label>
                    <!--<input type="text" class="form-control" >-->
                    <%= f.text_field :phone, :id => "phones", class: "form-control", placeholder: '(55) 99-99-99-99', :required => true, autocomplete: "off", :data_mask => "(55) 99-99-99-99" %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div align="left" class="form-group">
                    <label><%= t('activerecord.atributes.ext') %></label>
                    <%= f.text_field :ext, :class => 'form-control', :placeholder => 'Ext.', :autocomplete => "off", :data_mask => "999", :data_mask => "9999", :id => "exts" %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div align="left" class="form-group">
                    <label><%= t('activerecord.atributes.employment') %></label>
                    <%= f.text_field :employment, :class => 'form-control', :required => true, :placeholder => t('views.registration_new.placeh_employment'), :autocomplete => "off", :id => "employ", :readonly => true, :maxlength => '255'  %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div align="left" class="form-group">
                    <label><%= t('activerecord.atributes.boss_name') %></label>
                    <%= f.text_field :boss_name, :class => 'form-control', :required => true, :placeholder => t('views.registration_new.placeh_boss_name'), :autocomplete => "off", :id => "boss", :readonly => true, :maxlength => '255' %>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <p><%= t('views.registration_edit.need')%></p>
                <div class="input-group">
                  <%= f.password_field :current_password, id: 'pwd3', autocomplete: "off", :class => 'form-control', :maxlength => '255', :required => "true" %>
                  <span class="input-group-btn"><button class="btn btn-default" type="button" id="b3"><i class="fa fa-eye"></i></button></span>
                </div>
              </div>

              </br>


              <%= f.submit t('views.registration_edit.update'), class: 'btn btn-primary full-width m-b' %>
              <% if (current_user.profile.flag != 0 && current_user.profile.flag != 1 && current_user.profile.flag != 2)%>
                <h3><%= t('views.registration_edit.cancel')%></h3>

                <p><%= t('views.registration_edit.unhappy')%> <%= button_to t('views.registration_edit.cancel'), registration_path(resource_name), data: {confirm: "Are you sure?"}, method: :delete, class: 'btn btn-danger full-width m-b' %></p>
              <% end %>
            <% end %>

            <%= link_to t('all.back'), home_index_path, class: 'btn btn-success full-width m-b' %>

          </div>
          <br>
        </div>

      </div>
    </div>
  </div>
</div>

<script type)="text/javascript">
    //$(".reveal").on('click',function() {
    $("#b3").mouseover(function () {
        var $pwd = $("#pwd3");
        if ($pwd.attr('type') === 'password') {
            $pwd.attr('type', 'text');
        } else {
            $pwd.attr('type', 'password');
        }
    })

    $("#b3  ").mouseout(function () {
        var $pwd = $("#pwd3");
        if ($pwd.attr('type') === 'text') {
            $pwd.attr('type', 'password');
        } else {
            $pwd.attr('type', 'text');
        }
    });

    $('#form1').validate({
        messages: {
            "user[user_name]": {
                required: "<%= t('all.requi')%>"
            },
            "user[phone]": {
                required: "<%= t('all.requi')%>"
            },
            "user[current_password]": {
                required: "<%= t('all.requi')%>"
            }
        },
        //ACOMODAR MENSAJES DEBAJO DE LOS INPUT-GROUP DEMO: http://jsfiddle.net/mapb_1990/hTPY7/7/
        errorPlacement: function(error, element) {
            if(element.parent('.input-group').length) {
                error.insertAfter(element.parent());
            } else {
                error.insertAfter(element);
            }
        }
    });

</script>






