<%= javascript_include_tag 'datapicker/bootstrap-datepicker.js' %>
<script>
    jQuery(function ($) {
        $("#phones").mask("(99) 9999-9999");
        $("#phones").focusout(function () {
            var valor = $(this).val();
            valor = valor.replace("(", "")
            valor = valor.replace("_", "")
            valor = valor.replace("_", "")
            valor = valor.replace(")", "")
            valor = valor.replace(" ", "")
            valor = valor.replace("_", "")
            valor = valor.replace("_", "")
            valor = valor.replace("_", "")
            valor = valor.replace("_", "")
            valor = valor.replace("-", "")
            valor = valor.replace("_", "")
            valor = valor.replace("_", "")
            valor = valor.replace("_", "")
            valor = valor.replace("_", "")

            if (valor.length < 10) {
                $("#phones").val("");
            }
        })
    });

    jQuery(function ($) {
        $("#phones").mask("(99) 9999-9999");
    });

</script>

<script>
    jQuery(function ($) {
        $("#exts").mask("9999");
    });

    jQuery(function ($) {
        $("#exts").mask("9999");
    });

</script>
<div class="middle-box text-center loginscreen   animated fadeInDown">
  <div>
    <div>

      <h1 class="logo-name">KS</h1>
      <%= devise_error_messages! %>

    </div>
    <h3><%= t('views.registration_new.sign_up') %></h3>
    <%= form_for resource, as: resource_name, url: registration_path(resource_name), :html => {:id => 'form1'} do |f| %>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">

                <div class="field">
                  <label><%= t('activerecord.atributes.username') %></label>
                  <%= f.text_field :user_name, autofocus: true, :class => 'form-control', :required => true, :placeholder => t('views.registration_new.placeh_username'), :autocomplete => "off", :id => "u_name", :oninput => "setCustomValidity('')", :maxlength => '255' %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">

            <div class="field">
              <label><%= t('activerecord.atributes.name') %></label>
              <%= f.text_field :name, :class => 'form-control sicn', :required => true, :placeholder => t('views.registration_new.placeh_name'), :autocomplete => "off", :id => "na", :oninput => "setCustomValidity('')", :maxlength => '255' %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="field">
              <label><%= t('activerecord.atributes.last_name') %></label>
              <%= f.text_field :last_name, :class => 'form-control sicn', :required => true, :placeholder => t('views.registration_new.placeh_last_name'), :autocomplete => "off", :id => "last_na", :oninput => "setCustomValidity('')", :maxlength => '255' %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="field">
              <label><%= t('activerecord.atributes.email') %></label>
              <%= f.text_field :email, :class => 'form-control', :required => true, :placeholder => t('views.registration_new.placeh_mail'), :autocomplete => "off", :id => "mail", :oninput => "setCustomValidity('')", :maxlength => '255' %>
              <font color="#8b0000"><label id="errorMail" style="display: none;"></label></font>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12" id="dato_1">
            <label> <%= t('activerecord.atributes.birthday') %> </label>
            <div class="input-group date">
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              <%= f.text_field :birthday, class: "form-control", :placeholder => "MM/DD/YYYY", :autocomplete => "off", :id => "birth", :required => true %>
            </div>
            <font color="#8b0000"><label id="errorBirth" style="display: none;"></label></font>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="field">
              <label><%= t('activerecord.atributes.boss_name') %></label>
              <%= f.text_field :boss_name, :class => 'form-control sicn', :required => true, :placeholder => t('views.registration_new.placeh_boss_name'), :autocomplete => "off", :id => "boss", :oninput => "setCustomValidity('')", :maxlength => '255' %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="field">
              <label><%= t('activerecord.atributes.employment') %></label>
              <%= f.text_field :employment, :class => 'form-control sicn', :required => true, :placeholder => t('views.registration_new.placeh_employment'), :autocomplete => "off", :id => "employ", :oninput => "setCustomValidity('')", :maxlength => '255' %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6" align="center">
            <label><%= t('activerecord.atributes.phone') %></label>
            <!--<input type="text" class="form-control" >-->
            <%= f.text_field :phone, :id => "phones", class: "form-control", placeholder: '(55) 99-99-99-99', :required => true, autocomplete: "off", :data_mask => "(55) 99-99-99-99", :oninvalid => "this.setCustomValidity(t('views.registration_new.fill'))", :oninput => "setCustomValidity('')" %>
          </div>
          <div class="col-md-6">
            <div class="field">
              <label><%= t('activerecord.atributes.ext') %></label>
              <%= f.text_field :ext, :class => 'form-control', :placeholder => 'Ext.', :autocomplete => "off", :data_mask => "999", :id => "exts" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="field">
                  <label id="labelArea"><%= t('activerecord.atributes.area') %></label>
                  <!--<select class="form-control" name="area" required aria-required="true", oninput="setCustomValidity('')">-->
                  <!--<option><%#= t('views.registration_new.placeh_area') %></option>-->
                  <!--<option>Area1</option>-->
                  <!--</select>-->
                  <%= f.collection_select :area_id, Area.order(:id), :id, :name, {:include_blank => t('views.registration_new.placeh_area')}, {:id => 'areaSel', :class => 'form-control', :oninput => "setCustomValidity('')", :required => true} %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <label><%= t('views.registration_new.label_password') %></label>
            <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <br>
            <div class="input-group">
              <%= f.password_field :password, autocomplete: "off", :class => 'form-control', :required => true, :placeholder => t('views.registration_new.placeh_password'), :id => 'pwd', :oninput => "setCustomValidity('')", :maxlength => '255' %>
              <span class="input-group-btn"><button class="btn btn-default reveal" type="button" id="b1"><i class="fa fa-eye"></i></button></span>
            </div>
          </div>

          <div class="col-md-12">
            <label><%= t('views.registration_new.label_password_confirmation') %></label>
            <br>
            <div class="input-group">
              <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control', :required => true, :placeholder => t('views.registration_new.placeh_password_confirmation'), :id => 'pwd2', :oninput => "setCustomValidity('')", :maxlength => '255' %>
              <span class="input-group-btn"><button class="btn btn-default reveal" type="button" id="b2"><i class="fa fa-eye"></i></button></span>
            </div>
            <br>
            <div class="actions">
              <%= f.submit t('views.registration_new.sign_up_button'), :class => 'btn btn-primary block full-width m-b', :id => "commit" %>
            </div>
            <%= link_to t('all.back'), new_session_path(resource_name), :class => 'btn btn-warning block full-width m-b' %>
          </div>
        </div>
    <% end %>
    <%= render "devise/shared/links" %>
    <p class="m-t">
      <small>KS Soluciones S.A. de C.V. &copy; 1998-<%=Time.now.year%></small>
    </p>

    <div class="form-group" align="center">
      <%= link_to image_tag("mexico.png", border: 0, :height => 14, width: 26), locale: :es %>
      <%= link_to image_tag("eua.png", border: 0, :height => 14, width: 26), locale: :en %>
    </div>
  </div>
</div>

<script>
    //---- Input para calendario
    $('#dato_1 .input-group.date').datepicker({
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true
    });
    //---- Fin Input para calendario

    //---- Al enviar formulario, reciba fechas.
    $('#form1').submit(function () {
        var c = $('#birth').val()
        if (c == "" || c == null) {
            $('#birth').val("")
        } else {
            var birth = new Date($('#birth').val());
            $('#birth').val(birth)
        }
    });
    //---- Fin al enviar formulario, reciba fechas.

    //---- Mostrar contraseña
    $("#b1").mouseover(function () {
        var $pwd = $("#pwd");
        if ($pwd.attr('type') === 'password') {
            $pwd.attr('type', 'text');
        } else {
            $pwd.attr('type', 'password');
        }
    })

    $("#b1").mouseout(function () {
        var $pwd = $("#pwd");
        if ($pwd.attr('type') === 'text') {
            $pwd.attr('type', 'password');
        } else {
            $pwd.attr('type', 'text');
        }
    })
    ;

    $("#b2").mouseover(function () {
        var $pwd = $("#pwd2");
        if ($pwd.attr('type') === 'password') {
            $pwd.attr('type', 'text');
        } else {
            $pwd.attr('type', 'password');
        }
    })

    $("#b2").mouseout(function () {
        var $pwd = $("#pwd2");
        if ($pwd.attr('type') === 'text') {
            $pwd.attr('type', 'password');
        } else {
            $pwd.attr('type', 'text');
        }
    });
    //---- Fin mostrar contraseña

    //---- Validación de email
    $('#mail').change(function () {

        var em = $(this).val();
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

        if (re.test(em)) {
            $("#mail").val(em);
            $("#errorMail").hide();
        } else {
            var msg = "<%= t('views.registration_new.mail_err')%>";
            document.getElementById('errorMail').innerHTML = msg;
            $("#mail").val("");
            $("#mail").focus();

        }
    });

    $('#mail').on('input', function () {
        $(this).val($(this).val().replace(/[^a-zA-Z0-9-_.@\b]/gi, ''));
    });

    //---- Fin validación de email

    //---- Validación de campos requeridos.
    $('#form1').validate({
        messages: {
            "user[user_name]": {
                required: "<%= t('all.requi')%>"
            },
            "user[name]": {
                required: "<%= t('all.requi')%>"
            },
            "user[last_name]": {
                required: "<%= t('all.requi')%>"
            },
            "user[email]": {
                required: "<%= t('all.requi')%>"
            },
            "user[boss_name]": {
                required: "<%= t('all.requi')%>"
            },
            "user[birthday]": {
                required: "<%= t('all.requi')%>"
            },
            "user[phone]": {
                required: "<%= t('all.requi')%>"
            },
            "user[employment]": {
                required: "<%= t('all.requi')%>"
            },
            "user[area_id]": {
                required: "<%= t('all.requi')%>"
            },
            "user[password]": {
                required: "<%= t('all.requi')%>"
            },
            "user[password_confirmation]": {
                required: "<%= t('all.requi')%>"
            }
        },
        //ACOMODAR MENSAJES DEBAJO DE LOS INPUT-GROUP DEMO: http://jsfiddle.net/mapb_1990/hTPY7/7/
        errorPlacement: function (error, element) {
            if (element.parent('.input-group').length) {
                error.insertAfter(element.parent());
            } else {
                error.insertAfter(element);
            }
        }
    });
    //---- Fin validación de campos requeridos

    //---- Validaciones de cumpleaños
    $('#birth').on('input', function () {
        $(this).val($(this).val().replace(/[^0-9/\b]/gi, ''));
    });

    $('#birth').change(function () {
        var valorbirth = $(this).val();

        var values = valorbirth.split("/");

        var ano = values[2];
        var mes = values[0];
        var dia = values[1];

        var fecha_hoy = new Date();
        var ano_hoy = fecha_hoy.getFullYear();
        var mes_hoy = fecha_hoy.getMonth() + 1;
        var dia_hoy = fecha_hoy.getDate();

        if (valorbirth != "") {
            if ((mes < 13) && (dia < 32)) {

                if ((mes == 1) && (mes == 3) && (mes == 5) && (mes == 7) && (mes == 8) && (mes == 10) && (mes == 12)) {
                    if (dia <= 31) {
                        $('#errorBirth').text('')
                    } else {
                        $('#birth').val('');
                        var msg = "<%= t('views.registration_new.error_date')%>";
                        $("#errorBirth").show();
                        document.getElementById('errorBirth').innerHTML = msg;
                        return true;
                    }
                }
                if ((mes == 4) && (mes == 6) && (mes == 9) && (mes == 11)) {
                    if (dia <= 30) {
                        $('#errorBirth').text('')
                    } else {
                        $('#birth').val('');
                        var msg = "<%= t('views.registration_new.error_date')%>";
                        $("#errorBirth").show();
                        document.getElementById('errorBirth').innerHTML = msg;
                        return true;
                    }
                }

                if (mes == 2) {

                    if ((ano % 4 == 0) && ((ano % 100 != 0) || (ano % 400 == 0))) {
                        if (dia <= 29) {
                            $('#errorBirth').text('')
                        } else {
                            $('#birth').val('');
                            var msg = "<%= t('views.registration_new.error_date')%>";
                            $("#errorBirth").show();
                            document.getElementById('errorBirth').innerHTML = msg;
                            return true;
                        }
                    } else {
                        if (dia <= 28) {
                            $('#errorBirth').text('')
                        } else {
                            $('#birth').val('');
                            var msg = "<%= t('views.registration_new.error_date')%>";
                            $("#errorBirth").show();
                            document.getElementById('errorBirth').innerHTML = msg;
                            return true;
                        }
                    }


                }

            } else {
                $('#birth').val('');
                var msg = "<%= t('views.registration_new.error_date')%>";
                $("#errorBirth").show();
                document.getElementById('errorBirth').innerHTML = msg;
                return true;
            }
        }

        var edad = (ano_hoy - ano);


        if (mes_hoy < mes) {
            edad--;
        }

        else if ((mes_hoy == mes) && (dia_hoy < dia)) {
            edad--;
        }
        else if ((mes == mes_hoy) && (dia_hoy == dia) && (ano_hoy == ano)) {
            edad = 0;
        }
        else {
            edad = edad;
        }

        if (edad < 18) {
            var msg = "<%= t('views.registration_new.mayor')%>";
            $("#errorBirth").show();
            document.getElementById('errorBirth').innerHTML = msg;
            $("#birth").val("");
        }

        if (edad > 100) {
            var msg = "<%= t('views.registration_new.menor')%>";
            $("#errorBirth").show();
            document.getElementById('errorBirth').innerHTML = msg;
            $("#birth").val("");
        }

        if ((edad > 18) && (edad < 100)) {
            $("#errorBirth").hide();
        }
    });

    $('#birth').keyup(function () {
        var valor = $(this).val()

        if (valor == "/") {
            $(this).val("");
        }
    });

    //---- Fin Validaciones de cumpleaños
</script>