<div class="wrapper wrapper-content animated fadeInRight">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h1>Búsqueda Transaccional</h1>
    </div>
    <div class="ibox-content" id="responsiveTable">

      <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-12">
          <div class="row">
            <div class="col-md-6 col-xs-6 col-lg-6">
              <!-- FechaInicial, FechaFinal, Layout,Formato -->
              <div class="row">
                <div class="col-md-6 col-xs-6 col-l-6">
                  <div class="form-group" id="data_1">
                    <label class="font-noraml">Fecha Inicial</label>
                    <div class="input-group date">
                      <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" placeholder="MM/DD/YYYY" id="f1">
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xs-6 col-l-6">
                  <div class="form-group" id="data_2">
                    <label class="font-noraml">Fecha Final</label>
                    <div class="input-group date">
                      <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" placeholder="MM/DD/YYYY" id="f2">
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xs-6 col-l-6">
                  <label>Layout</label>
                  <select class="form-control" id="id_lay">
                    <option value="">Selecciona Layout . . .</option>
                    <option value="1">Layout</option>
                  </select>
                </div>
                <div class="col-md-6 col-xs-6 col-l-6">
                  <label>Formato</label>
                  <select class="form-control" id="id_for" disabled>
                    <option value="">Selecciona Formato . . .</option>
                    <option>Format</option>
                  </select>
                </div>
              </div>
            </div>
            <!--
            Operadores,Valor
            -->
            <div class="col-md-6 col-xs-6 col-lg-6">
              <div class="row">
                <!-- Datos Checbox -->
                <div class="col-md-6 col-xs-6 col-lg-6" id="id_datos" style="display: none;">
                  <label>Datos</label>
                  <div class="checkbox checkbox-primary">
                    <input id="checkbox2" type="checkbox" name="datos" value="Numero_de_Tarjeta">
                    <label for="checkbox2">
                      Numero_de_Tarjeta
                    </label>
                  </div>

                  <div class="checkbox checkbox-primary">
                    <input id="checkbox3" type="checkbox" name="datos" value="Tipo_Transac">
                    <label for="checkbox3">
                      Tipo_Transac
                    </label>
                  </div>

                  <div class="checkbox checkbox-primary">
                    <input id="checkbox4" type="checkbox" name="datos" value="Fecha_Trans">
                    <label for="checkbox4">
                      Fecha_Trans
                    </label>
                  </div>

                  <div class="checkbox checkbox-primary">
                    <input id="checkbox5" type="checkbox" name="datos" value="Hora_Trans">
                    <label for="checkbox5">
                      Hora_Trans
                    </label>
                  </div>

                  <div class="checkbox checkbox-primary">
                    <input id="checkbox6" type="checkbox" name="datos" value="Entry_mode">
                    <label for="checkbox6">
                      Entry_mode
                    </label>
                  </div>

                  <div class="checkbox checkbox-primary">
                    <input id="checkbox7" type="checkbox" name="datos" value="Currency">
                    <label for="checkbox7">
                      Currency
                    </label>
                  </div>

                  <div class="checkbox checkbox-primary">
                    <input id="checkbox8" type="checkbox" name="datos" value="Monto1">
                    <label for="checkbox8">
                      Monto1
                    </label>
                  </div>

                  <div class="checkbox checkbox-primary">
                    <input id="checkbox9" type="checkbox" name="datos" value="Monto2">
                    <label for="checkbox9">
                      Monto2
                    </label>
                  </div>


                </div>

                <!-- Select OperadoresValor -->
                <div class="col-md-6 col-xs-6 col-lg-6">
                  <div class="row">
                    <div class="col-md-12">
                      <label>Operador</label>
                      <select class="form-control" id="operadores">
                        <option value="">Seleciona Operador . . .</option>
                        <option>Mayor</option>
                        <option>Menor</option>
                        <option>Mayor Igual</option>
                        <option>Menor Igual</option>
                        <option>Igual</option>
                        <option>Diferente</option>
                      </select>
                    </div>
                    <div class="col-md-12">
                      <label>Valor</label>
                      <input type="text" class="form-control" placeholder="Valor" id="valor" autocomplete="off">
                    </div>
                    <div class="col-md-12">
                      <br>
                      <input type="button" class="btn btn-xs btn-success" value="Generar Consulta" id="save_con">
                      <!--<input type="button" class="btn btn-xs btn-success" value="Cruse de Datos" id="cruse_data">-->
                    </div>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- Table --->

        <div class="col-md-12 col-xs-12 col-lg-12">
          <p></p>
          <p></p>
          <p></p>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="detall_left">
              <%#= page_entries_info @datos, entry_name: "Detalle de Transacciones"%>
            </div>
            <div class="pag_right">
              <%#= paginate @datos, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xs-12 col-lg-12">
          <div id="referencia" style="display: none;">
            <%#= render partial: 'transacction_type/dynamic'%>
            <table class="table table-bordered table-condensed table-striped"  >
              <thead>
              <tr>
                <th class="text-center">Numero_de_Tarjeta</th>
                <th class="text-center">Tipo_Transac</th>
                <th class="text-center">Fecha_Trans</th>
                <th class="text-center">Hora_Trans</th>
                <th class="text-center">Entry_mode</th>
                <th class="text-center">Currency</th>
                <th class="text-center">Monto1</th>
                <th class="text-center">Monto2</th>
              </tr>
              </thead>
              <tbody>
              <% @datos.each do |datos| %>
                <tr>
                  <td class="text-center"><%= datos['Numero_de_Tarjeta'] %></td>
                  <td class="text-center"><%= datos['Tipo_Transac'] %></td>
                  <td class="text-center">20180731</td>
                  <td class="text-center"><%= datos['Hora_Trans'] %></td>
                  <td class="text-center"><%= datos['Entry_mode'] %></td>
                  <td class="text-center"><%= datos['Currency'] %></td>
                  <td class="text-center"><%= datos['Monto1'] %></td>
                  <td class="text-center"><%= datos['Monto2'] %></td>
                </tr>
              <% end %>

              </tbody>
            </table>
          </div>
        </div>



      </div>

    </div>
  </div>
</div>

<!--<div class="row">-->
<!--  <div class="col-md-4">-->
<!--    <fieldset>-->
<!--      <h3>-->
<!--        Basic-->
<!--      </h3>-->
<!--      <p>-->
<!--        Supports bootstrap brand colors: <code>.checkbox-primary</code>, <code>.checkbox-info</code> etc.-->
<!--      </p>-->
<!--      <div class="checkbox">-->
<!--        <input id="checkbox1" type="checkbox">-->
<!--        <label for="checkbox1">-->
<!--          Default-->
<!--        </label>-->
<!--      </div>-->
<!--      <div class="checkbox checkbox-primary">-->
<!--        <input id="checkbox2" type="checkbox" checked="">-->
<!--        <label for="checkbox2">-->
<!--          Primary-->
<!--        </label>-->
<!--      </div>-->
<!--      <div class="checkbox checkbox-success">-->
<!--        <input id="checkbox3" type="checkbox">-->
<!--        <label for="checkbox3">-->
<!--          Success-->
<!--        </label>-->
<!--      </div>-->
<!--      <div class="checkbox checkbox-info">-->
<!--        <input id="checkbox4" type="checkbox">-->
<!--        <label for="checkbox4">-->
<!--          Info-->
<!--        </label>-->
<!--      </div>-->
<!--      <div class="checkbox checkbox-warning">-->
<!--        <input id="checkbox5" type="checkbox" checked="">-->
<!--        <label for="checkbox5">-->
<!--          Warning-->
<!--        </label>-->
<!--      </div>-->
<!--      <div class="checkbox checkbox-danger">-->
<!--        <input id="checkbox6" type="checkbox" checked="">-->
<!--        <label for="checkbox6">-->
<!--          Check me out-->
<!--        </label>-->
<!--      </div>-->
<!--      <p>Checkboxes without label text</p>-->
<!--      <div class="checkbox">-->
<!--        <input type="checkbox" id="singleCheckbox1" value="option1" aria-label="Single checkbox One">-->
<!--        <label></label>-->
<!--      </div>-->
<!--      <div class="checkbox checkbox-primary">-->
<!--        <input type="checkbox" id="singleCheckbox2" value="option2" checked="" aria-label="Single checkbox Two">-->
<!--        <label></label>-->
<!--      </div>-->
<!--      <p>Inline checkboxes</p>-->
<!--      <div class="checkbox checkbox-inline">-->
<!--        <input type="checkbox" id="inlineCheckbox1" value="option1">-->
<!--        <label for="inlineCheckbox1"> Inline One </label>-->
<!--      </div>-->
<!--      <div class="checkbox checkbox-success checkbox-inline">-->
<!--        <input type="checkbox" id="inlineCheckbox2" value="option1" checked="">-->
<!--        <label for="inlineCheckbox2"> Inline Two </label>-->
<!--      </div>-->
<!--      <div class="checkbox checkbox-inline">-->
<!--        <input type="checkbox" id="inlineCheckbox3" value="option1">-->
<!--        <label for="inlineCheckbox3"> Inline Three </label>-->
<!--      </div>-->
<!--    </fieldset>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="wrapper wrapper-content animated fadeInRight">-->
<!--  <div class="row">-->
<!--    <div class="col-lg-5">-->
<!--      <div class="ibox float-e-margins">-->
<!--        <div class="ibox-title">-->
<!--          <h5>Data Picker-->
<!--            <small>https://github.com/eternicode/bootstrap-datepicker</small>-->
<!--          </h5>-->
<!--          <div class="ibox-tools">-->
<!--            <a class="collapse-link">-->
<!--              <i class="fa fa-chevron-up"></i>-->
<!--            </a>-->
<!--            <a class="dropdown-toggle" data-toggle="dropdown" href="#">-->
<!--              <i class="fa fa-wrench"></i>-->
<!--            </a>-->
<!--            <ul class="dropdown-menu dropdown-user">-->
<!--              <li><a href="#">Config option 1</a>-->
<!--              </li>-->
<!--              <li><a href="#">Config option 2</a>-->
<!--              </li>-->
<!--            </ul>-->
<!--            <a class="close-link">-->
<!--              <i class="fa fa-times"></i>-->
<!--            </a>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="ibox-content">-->
<!--          <h3>-->
<!--            Data picker-->
<!--          </h3>-->
<!--          <p>-->
<!--            Simple and easy select a time for a text input using your mouse.-->
<!--          </p>-->

<!--          <div class="form-group" id="data_1">-->
<!--            <label class="font-noraml">Simple data input format</label>-->
<!--            <div class="input-group date">-->
<!--              <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" value="03/04/2014">-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="form-group" id="data_2">-->
<!--            <label class="font-noraml">One Year view</label>-->
<!--            <div class="input-group date">-->
<!--              <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" value="08/09/2014">-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="form-group" id="data_3">-->
<!--            <label class="font-noraml">Decade view</label>-->
<!--            <div class="input-group date">-->
<!--              <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" value="10/11/2013">-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="form-group" id="data_4">-->
<!--            <label class="font-noraml">Month select</label>-->
<!--            <div class="input-group date">-->
<!--              <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" value="07/01/2014">-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="form-group" id="data_5">-->
<!--            <label class="font-noraml">Range select</label>-->
<!--            <div class="input-daterange input-group" id="datepicker">-->
<!--              <input type="text" class="input-sm form-control" name="start" value="05/14/2014"/>-->
<!--              <span class="input-group-addon">to</span>-->
<!--              <input type="text" class="input-sm form-control" name="end" value="05/22/2014"/>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<% content_for :javascript do %>

  <script type="text/javascript">


      $(function () {


          $('#data_1 .input-group.date').datepicker({
              maxDate: new Date(),
              format: 'mm/dd/yyyy',
              showButtonPanel: true,
              todayBtn: "linked",
              keyboardNavigation: false,
              forceParse: false,
              calendarWeeks: true,
              autoclose: true
          });

          $('#data_2 .input-group.date').datepicker({
              maxDate: new Date(),
              format: 'mm/dd/yyyy',
              showButtonPanel: true,
              todayBtn: "linked",
              keyboardNavigation: false,
              forceParse: false,
              calendarWeeks: true,
              autoclose: true
          });

          // $('#data_2 .input-group.date').datepicker({
          //     startView: 1,
          //     todayBtn: "linked",
          //     keyboardNavigation: false,
          //     forceParse: false,
          //     autoclose: true
          // });
          //
          // $('#data_3 .input-group.date').datepicker({
          //     startView: 2,
          //     todayBtn: "linked",
          //     keyboardNavigation: false,
          //     forceParse: false,
          //     autoclose: true
          // });
          //
          // $('#data_4 .input-group.date').datepicker({
          //     minViewMode: 1,
          //     keyboardNavigation: false,
          //     forceParse: false,
          //     autoclose: true,
          //     todayHighlight: true
          // });
          //
          // $('#data_5 .input-daterange').datepicker({
          //     keyboardNavigation: false,
          //     forceParse: false,
          //     autoclose: true
          // });


      });

      function recargar() {
          $('#referencia').load('/transacction_type/dynamic')
      }

      // var arreglo = [];
      // $('#save_con').click(function(){
      //     $('input:checked[name=datos]').each(function(){
      //         arreglo.push($(this).val());
      //     })
      //
      //     var data1 = $('#f1').val()
      //     var data2 = $('#f2').val()
      //     var lay = $('#id_lay').val()
      //     var form = $('#id_for').val()
      //     var datos = arreglo
      //     var oper = $("#operadores").val()
      //     var val = $('#valor').val()
      //
      //     console.log(data1+" "+data2+" "+datos+"")
      //     alert('SaveCon')
      //     $.ajax({
      //         type: "GET",
      //         url: "/transacction_type/datos",
      //         dataType: 'json',
      //         data: {data_1: data1, data_2: data2, lay: lay, form: form, checks: datos, oper: oper, val: val},
      //         success: function (data, txt, file) {
      //             $('#referencia').load('/transacction_type/dynamic')
      //         }
      //     })
      // })

      $('#save_con').click(function () {
          $('#referencia').css('display', 'block')
      })


      $('#id_lay').change(function () {
          if ($(this).val() != "") {
              $('#id_for').prop('disabled', false)

          } else {
              $('#id_for').val("")
              $('#id_for').prop('disabled', true)
              $('#id_datos').css('display', 'none')

          }
      })
      $('#id_for').change(function () {

          if ($(this).val() != "") {
              $('#id_datos').css('display', 'block')
          } else {
              $('#id_datos').css('display', 'none')
          }

      })

      $(document).ready(function () {
          $('#tablafi1').DataTable();
      });


  </script>

<% end %>