/* line 6, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.inValue {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
}
