/* line 6, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.inValue {
  display: flex;
  flex-direction: row;
}
/* line 10, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.inValue .anchoSelect {
  width: 50%;
  padding-right: 3em;
}

/* line 17, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.upFiles {
  background-color: #fff;
  border: 1px solid #d6d6d6;
  padding: .5em;
}
/* line 22, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.upFiles .custonText {
  color: #aaa;
}

/* line 28, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.s_Condition {
  background-color: #fff;
  border-radius: 5px;
  height: 400px;
  overflow: scroll;
  padding: 0;
}
/* line 35, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.s_Condition .s_Div {
  padding: 0;
}

/* line 40, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.container {
  transition: all .3s ease;
}

/* line 44, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.condition {
  cursor: move;
}

/* line 48, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.over {
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.57);
  -webkit-transform: scale(1.01);
}
