<%= stylesheet_link_tag 'alertn' %>
<!-- Ini Campos que Utiliza el Mensaje del Ordenamiento
     NO BORRAR!
-->
<!-- Tabla 1 -->
<% wc = TableOrder.where("user_id = #{current_user.id} and table_id = 'table_refe'").count %>
<% word1 = TableOrder.where("user_id = #{current_user.id} and table_id = 'table_refe'") %>
<input type="hidden" value="<%= t('views.new_alert_tran.tit_save_tran') %>" id="tit_save_tran">
<input type="hidden" value="<%= t('views.new_alert_tran.mes_save_tran') %>" id="mes_save_tran">
<input type="hidden" value="<%= t('views.new_alert_tran.mnj_save_tran') %>" id="save_tran">
<!-- NO BORRAR!
     Fin Campos que Utiliza el Mensaje del Ordenamiento -->
<input type="hidden" name="idAlerta" value="<%= @alerta_Tran.Id %>" id="idAlert">
<div class="row" id="margen">
  <div class="col-sm-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <div class="row">
          <div class="col-xs-10">
            <% if @id_consulta %>
              <h1><%= t('all.follow_a') %> Key Monitor Transaccional</h1>
            <% else %>
              <h1><%= t('all.new_a') %> Key Monitor Transaccional</h1>&nbsp;&nbsp;
            <% end %>
          </div>
          <div class="col-xs-2 text-center">
            <% if @id_consulta %>
              <%= link_to t('views.new_alert_tran.next_al'), alertn_alertTran_path, :class => "btn btn-w-m btn-info dim", :data => {:no_turbolink => true} %> &nbsp;&nbsp;
            <% end %>
          </div>
        </div>
      </div>
      <div class="ibox-content" id="responsiveTable">
        <br>
        <% if @id_consulta %>
          <div class="row">
            <div class="col-sm-12 text-right">
              <% if @crearNewTran == 8 %>
                <button class="btn btn-primary btn-xs xls_g" type="button" id="<%= @alerta_Tran.Id %>">
                  <i class="fa fa-floppy-o"></i> XLS
                </button>
              <% end %>
              <input type="hidden" id="idioma" name="idioma" value="<%= params[:locale] %>">
            </div>
          </div>
        <% end %>

        <!-- New Alert Fixed --->
        <div id="numTarjeta" class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8 text-center">
            <section class="block-area">
              <h2 style="text-align:center;"> <%= t('config.main') %>: <%= @IdTran %> </h2>
            </section>
          </div>
          <div class="col-sm-2 text-right">
            <div class="tooltip-demo">
              <button class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="left" title="<%= t('all.save') %> <%= t('views.new_alert_tran.save_follow') %>" id="guardar">
                <i class="fa fa-floppy-o"></i> <%= t('all.save') %> </button>
            </div>
            <!--<input type="button" class="save_first btn btn-w-m btn-success" value="<%#= t('views.new_alert_tran.save_tran') %>">-->
          </div>
        </div>

        <div id="detail" class="ibox arrastra" style="border: 1px solid #E7EAEC">
          <div class="ibox-title" style="color: #2F4050">
            <h5><%= t('views.new_alert_tran.detail') %></h5>
            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </div>
          </div>
          <div class="ibox-content" style="display: block;">
            <table class="table table-bordered table- table-condensed table-striped">
              <thead>
              <tr>
                <th><%= t('views.new_alert_tran.ticket') %></th>
                <th><%= t('views.new_alert_tran.date_hour') %></th>
                <th><%= t('views.new_alert_tran.origin_s') %></th>
                <th><%= t('views.new_alert_tran.message') %></th>
                <th><%= t('views.new_alert_tran.filter') %></th>
              </tr>
              </thead>

              <tbody>

              <tr>
                <td><%= @alerta_Tran.Id %></td>
                <td><%= @alerta_Tran.Fecha %>
                  <bl></bl><%= @alerta_Tran.Hora %>
                </td>
                <% if @alerta_Tran.IdProducto == 1 %>
                  <td><%= "Transaccional" %></td>
                <% else %>
                  <td><%= "Perfiles" %></td>
                <% end %>
                <td><%= @alerta_Tran.Mensaje %></td>
                <td>
                  <% if @alerta_Tran.tx_filters.present? %>
                    <%= @alerta_Tran.tx_filters.Id %>-<%= @alerta_Tran.tx_filters.Description %>
                  <% else %>
                    N/A
                  <% end %>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- New Alert Fixed -->
        <div class="ibox" style="border: 1px solid #E7EAEC">
          <div class="ibox-title" style="color: #2F4050">
            <h5><%= t('views.new_alert_tran.ref') %></h5>
            <div class="ibox-tools">
              <div class="tooltip-demo">
                <button type="button" class="save_first btn btn-success btn-xs" data-toggle="tooltip" data-placement="bottom" title="<%= t('views.new_alert_tran.save_tran') %>">
                  <i class="fa fa-table"></i>
                </button>
                <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
                </a>
              </div>

            </div>
          </div>
          <div class="ibox-content ref-wrapper" style="display: block;">
            <table class="table table-bordered table- table-condensed table-striped reference-table" id="tb_re2">
              <% @camposref = @alerta_Tran.Referencia.split(">") %>
              <thead class="sorted_head" id="table_refe">
              <tr>
                <%# @camposref.each do |valor| %>
                <!--<th><%#= valor.split("=").first.from(5) %></th>-->
                <%# end %>
                <% if wc > 0 %>
                  <% word1.each do |wo1| %>
                    <% @referencia.each do |refe| %>
                      <% if wo1.name_column == refe.campo %>
                        <th><%= refe.campo %></th>
                      <% end %>
                    <% end %>
                  <% end %>
                <% else %>
                  <% @referencia.each do |refe| %>
                    <th><%= refe.campo %></th>
                  <% end %>
                <% end %>
              </tr>
              </thead>

              <tbody>

              <% if wc > 0 %>
                <% word1.each do |wo1| %>
                  <% @referencia.each do |refe| %>
                    <% if wo1.name_column == refe.campo %>
                      <td>
                        <% if ( refe.campo ==  "Monto" || refe.campo ==  "monto" || refe.campo == "Monto1" || refe.campo == "Monto2" || refe.campo == "Monto3" ) %>
                          <%= "$" %>
                          <%= number_with_delimiter(number_with_precision (refe.valor.to_f) / 100, precision: 2) %>
                        <% else %>
                          <%= refe.valor %>
                        <% end %>
                      </td>
                    <% end %>
                  <% end %>
                <% end %>
              <% else %>
                <% @referencia.each do |refe| %>
                  <td>
                    <% if ( refe.campo ==  "Monto" || refe.campo ==  "monto" || refe.campo == "Monto1" || refe.campo == "Monto2" || refe.campo == "Monto3" ) %>
                      <%= "$" %>
                      <%= number_with_delimiter(number_with_precision (refe.valor.to_f) / 100, precision: 2) %>
                    <% else %>
                      <%= refe.valor %>
                    <% end %>
                  </td>
                <% end %>
              <% end %>

              </tbody>
            </table>
          </div>
        </div>

        <% if @id_consulta %>
          <div class="ibox" style="border: 1px solid #E7EAEC">
            <div class="ibox-title" style="color: #2F4050">
              <h5><%= t('views.new_alert_tran.obse') %></h5>
              <div class="ibox-tools">
                <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
                </a>
              </div>
            </div>
            <div class="ibox-content" style="display: block;">
              <% if @observaciones %>
                <div class="row">
                  <div class="col-sm-7"></div>
                  <div class="col-sm-5 text-right">
                    <div style="margin-bottom: 2em;">
                      <div class="detall_left" id="cont_obse">
                        <%= page_entries_info @observaciones, entry_name: t('views.new_alert_tran.obse') %>
                      </div>
                      <div class="pag_right" id="paginator_obse">
                        <%= paginate @observaciones, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm", :remote => true, params: {:id => @alerta_Tran.Id, :kam => 'obse', :observaciones => nil} %>
                      </div>
                    </div>
                  </div>
                </div>
                <table class="table table-bordered table- table-condensed table-striped">
                  <thead>
                  <tr>
                    <th><%= t('views.new_alert_tran.date_hour') %></th>
                    <th><%= t('views.new_alert_tran.obse') %></th>
                    <th><%= t('views.new_alert_tran.state') %></th>
                    <th><%= t('views.new_alert_tran.user_atn') %></th>
                  </tr>
                  </thead>
                  <tbody id="obse_hist">
                  <%= render @observaciones %>
                  </tbody>
                </table>
                <div class="row">
                  <div class="col-sm-7"></div>
                  <div class="col-sm-5 text-right">
                    <div style="margin-bottom: 2em;">
                      <div class="pag_right" id="paginator_p_obse">
                        <%= paginate @observaciones, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm", :remote => true, params: {:id => @alerta_Tran.Id, :kam => 'obse', :observaciones => nil} %>
                      </div>
                      <div class="detall_left" id="cont_p_obse">
                        <%= page_entries_info @observaciones, entry_name: t('views.new_alert_tran.obse') %>
                      </div>
                    </div>
                  </div>
                </div>
              <% else %>
                <label><%= t('views.new_alert_tran.no_alerts_ob') %></label>
              <% end %>

              <div class="row">
                <div class="col-xs-12 text-right">
                  <% if @editarNewTran == 4 %>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" id="modal_opener">
                      <%= t('views.new_alert_tran.add_obse') %>
                    </button>
                  <% end %>
                </div>
              </div>
              <% if @editarNewTran == 4 %>
                <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content animated bounceInRight">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title"><%= t('views.new_alert_tran.work') %></h4>
                        <div class="tooltip-demo text-right">
                          <a id="btn_addUsuerMail" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="left" title="<%= t('views.alert_new_index.add_mail_user_card') %>">
                            <i class="fa fa-plus"></i>
                            <i class="fa fa-user-o"></i>
                          </a>
                          <a id="btnAddMails" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="left" title="<%= t('views.alert_new_index.add_mail_groups') %>">
                            <i class="fa fa-plus"></i>
                            <i class="fa fa-envelope-o"></i>
                          </a>
                        </div>
                      </div>
                      <%= form_tag({:controller => "alertn", :action => "alertTran"}, :method => "get", :id => "observations_form") do %>
                        <div class="modal-body">

                          <% if @id_consulta %>
                            <input type="hidden" name="id" value="<%= @id_consulta %>">
                          <% end %>
                          <input type="hidden" name="fraud_s" id="fraud_tt">
                          <input type="hidden" name="pending" id="pending_tt">
                          <input type="hidden" name="id_tran" value="<%= @alerta_Tran.Id %>">
                          <input type="hidden" value="
                            <% @alerta_Tran.Id %>" name="idTran" id="idTran">
                          <input type="hidden" id="valor" name="historico">
                          <div class="form-group">

                            <% "#####----------- Grupos de correo"  %>
                            <div id="contentMailGroups" class="text-right" style="display: none;">
                              <div id='gruposMail'>
                                <% @groups = Group.all %>
                                <% @mail_groups = MailGroup.all %>
                                <div class="i-checks">
                                  <% @groups.each do |grupos| %>
                                    <% if grupos.name.present? %>
                                      <input type='hidden' value='<%= grupos.name %>' name="radioGroup">
                                      <input type='radio' value='<%= grupos.id %>' id='check_<%= grupos.id %>' name="radioMails" class="mail_groups">
                                      <label><%= grupos.name %></label>
                                    <% else %>
                                      <strong>Aún No Hay Grupos De Correos</strong>
                                    <% end %>
                                  <% end %>
                                </div>
                                <div class="emails">
                                  <!-- Dentro de este div se mandan los correos de los grupos -->
                                </div>
                              </div>
                            </div>

                            <% "#####----------- Cliente Correo"  %>
                            <div id="inputMailClient" class="hidden-lg m-b-md m-t-md">
                              <label for="mail_client"><%= t('views.alert_new_index.mail_customer') %></label>
                              <input type="text" id="mail_client" class="form-control" placeholder="<%= t('views.alert_new_index.placeholder_mail_client') %>" name="customer_mail" autocomplete="off">
                              <label id="mail_client-error" style="display:none;" for="mail_client"><%= t('views.registration_new.mail_err')%></label>
                            </div>

                            <label><%= t('views.new_alert_tran.state') %></label>
                            <select name="estado" class="form-control input-sm m-b-10" required id="state_ob">
                              <option value=""><%= t('views.new_alert_tran.placeh_states') %></option>
                              <% @states.each do |st| %>
                                <option value="<%= st.IdEstado %>"><%= st.Descripcion %></option>
                              <% end %>
                            </select>
                            <br>

                            <label><%= t('views.new_alert_tran.obse') %></label>
                            <textarea id="txObse" name="observaciones" autocomplete="off" required rows="4" cols="20" placeholder="<%= t('views.new_alert_tran.placeh_obse') %>" class="form-control input-sm"></textarea>
                          </div>


                          <div class="form-group">
                            <div id="fraud_radio">
                              <label><%= t('views.niv_alert_index.fraud') %></label>
                              <div class="i-checks">
                                <label> <input type="radio" value="1" name="fraud" id="fraud_yes">
                                  <i></i> <%= t('all.yes') %>
                                </label></div>
                              <div class="i-checks">
                                <label> <input type="radio" value="0" name="fraud" id="fraud_no"> <i></i> No </label>
                              </div>
                            </div>
                          </div>

                          <% if @ConsultaHistTbit.present? %>
                            <div class="form-group" id="checkbox_apply">
                              <label><%= t('views.new_alert_tran.apply') %></label>
                              <input type="checkbox" class="i-checks" value="true" name="apply" id="apply_obse" disabled>
                              <br>
                              <font color="#8b0000"><label id="errorSel" style="display: none;"></label></font>
                            </div>

                            <script>
                                $("#checkbox_apply").click(function () {
                                    console.log("entre")
                                    var lc = localStorage.getItem("Selected")

                                    if (lc == "") {
                                        console.log("lc no tiene nada")
                                        var msg = "<%= t('views.new_alert_tran.apply_err')%>";
                                        document.getElementById('errorSel').innerHTML = msg;
                                        $("#errorSel").show();
                                        $(this).iCheck('uncheck');
                                    } else {
                                        $("#errorSel").hide();
                                    }
                                });

                                $("#modal_opener").click(function () {
                                    $("#errorSel").hide();
                                })
                            </script>
                          <% end %>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% else %>
          <% if @editarNewTran == 4 %>
            <div class="ibox" style="border: 1px solid #E7EAEC">
              <div class="ibox-title" style="color: #2F4050;">
                <h5><%= t('views.new_alert_tran.work') %></h5>
                <div class="ibox-tools">
                  <div class="tooltip-demo">
                    <a id="btn_addUsuerMail" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="left" title="<%= t('views.alert_new_index.add_mail_user_card') %>">
                      <i class="fa fa-plus"></i>
                      <i class="fa fa-user-o"></i>
                    </a>
                    <a id="btnAddMails" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="left" title="<%= t('views.alert_new_index.add_mail_groups') %>">
                      <i class="fa fa-plus"></i>
                      <i class="fa fa-envelope-o"></i>
                    </a>
                    <a class="collapse-link">
                      <i class="fa fa-chevron-up"></i>
                    </a>
                  </div>

                </div>
              </div>
              <div class="ibox-content" style="display: block;">
                <%= form_tag({:controller => "alertn", :action => "alertTran"}, :method => "get", :id => "observations_form") do %>
                  <% if @id_consulta %>
                    <input type="hidden" name="id" value="<%= @id_consulta %>">
                  <% end %>

                  <input type="hidden" name="fraud_s" id="fraud_tt">
                  <input type="hidden" name="pending" id="pending_tt">
                  <input type="hidden" name="id_tran" value="<%= @alerta_Tran.id %>">
                  <input type="hidden" value="
                    <% @alerta_Tran.id %>" name="idTran" id="idTran">
                  <input type="hidden" id="valor" name="historico">
                  <div class="form-group">
                    <% "#####----------- Grupos de correo"  %>
                    <div id="contentMailGroups" class="text-right" style="display: none;">
                      <div id='gruposMail'>
                        <% @groups = Group.all %>
                        <% @mail_groups = MailGroup.all %>
                        <div class="i-checks">
                          <% @groups.each do |grupos| %>
                            <% if grupos.name.present? %>
                              <input type='hidden' value='<%= grupos.name %>' name="radioGroup">
                              <input type='radio' value='<%= grupos.id %>' id='check_<%= grupos.id %>' name="radioMails" class="mail_groups">
                              <label><%= grupos.name %></label>
                            <% else %>
                              <strong>Aún No Hay Grupos De Correos</strong>
                            <% end %>
                          <% end %>
                        </div>
                        <div class="emails">
                          <!-- Dentro de este div se mandan los correos de los grupos -->
                        </div>
                      </div>
                    </div>

                    <% "#####----------- Cliente Correo"  %>
                    <div id="inputMailClient" class="hidden-lg m-b-md m-t-md">
                      <label for="mail_client"><%= t('views.alert_new_index.mail_customer') %></label>
                      <input type="text" id="mail_client" class="form-control" placeholder="<%= t('views.alert_new_index.placeholder_mail_client') %>" name="customer_mail" autocomplete="off">
                      <label id="mail_client-error" style="display:none;" for="mail_client"><%= t('views.registration_new.mail_err')%></label>
                    </div>

                    <label><%= t('views.new_alert_tran.state') %></label>
                    <select name="estado" class="form-control input-sm m-b-10" required id="state_ob">
                      <option value=""><%= t('views.new_alert_tran.placeh_states') %></option>
                      <% @states.each do |st| %>
                        <option value="<%= st.IdEstado %>"><%= st.Descripcion %></option>
                      <% end %>
                    </select>
                  </div>
                  <div class="form-group">
                    <label><%= t('views.new_alert_tran.obse') %></label>
                    <textarea id="txObse" name="observaciones" autocomplete="off" required rows="4" cols="20" placeholder="<%= t('views.new_alert_tran.placeh_obse') %>" class="form-control input-sm"></textarea>
                    <br>
                    <div id="fraud_radio">
                      <label><%= t('views.niv_alert_index.fraud') %></label>
                      <div class="i-checks">
                        <label> <input type="radio" value="1" name="fraud" id="fraud_yes">
                          <i></i> <%= t('all.yes') %>
                        </label></div>
                      <div class="i-checks">
                        <label> <input type="radio" value="0" name="fraud" id="fraud_no"> <i></i> No </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">

                  </div>
                  <% if @ConsultaHistTbit.present? %>
                    <div class="form-group">
                      <label><%= t('views.new_alert_tran.apply') %></label>
                      <input type="checkbox" class="i-checks" value="true" name="apply" id="apply_obse" disabled>
                    </div>
                  <% end %>

                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
        <div class="ibox" style="border: 1px solid #E7EAEC">
          <div class="ibox-title" style="color: #2F4050">
            <h5><%= t('views.new_alert_tran.hist') %></h5>
            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </div>
          </div>
          <div class="ibox-content" style="display: block;">
            <% if @ConsultaHistTbit.present? %>
              <div class="row">
                <div class="col-sm-7"></div>
                <div class="col-sm-5 text-right">
                  <div style="margin-bottom: 2em;">
                    <div class="detall_left" id="cont">
                      <%= page_entries_info @ConsultaHistTbit, entry_name: t('activerecord.all.alert') %>
                    </div>
                    <div class="pag_right" id="paginator">
                      <%= paginate @ConsultaHistTbit, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm", :remote => true, params: {:id => @alerta_Tran.Id, :kam => 'hist', :observaciones => nil} %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-10"></div>
                <div class="col-sm-2 text-right ">
                  <button type="button" class="btn btn-xs btn-info unsel" id="check_all">
                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                    <label> <%= t('views.permisos_edit.select') %> </label>
                  </button>
                </div>
              </div>

              <br>

              <table class="table table-bordered table- table-condensed table-striped" id="tab">
                <thead>
                <tr>
                  <th width="15"></th>
                  <th><%= t('views.new_alert_tran.ticket') %></th>
                  <th><%= t('views.new_alert_tran.date_hour') %></th>
                  <th><%= t('views.new_alert_tran.origin_s') %></th>
                  <th><%= t('views.new_alert_tran.filter') %></th>
                  <th><%= t('views.new_alert_tran.state') %></th>
                  <th><%= t('views.new_alert_tran.analyst') %></th>
                  <% if @editarNewTran == 4 %>
                    <th><%= t('views.new_alert_tran.attend') %></th>
                  <% end %>
                </tr>
                </thead>

                <tbody id="alertas_hist">
                <%= render @ConsultaHistTbit %>
                </tbody>
              </table>
              <div class="row">
                <div class="col-sm-7"></div>
                <div class="col-sm-5 text-right">
                  <div style="margin-bottom: 2em;">
                    <div class="pag_right" id="paginator_p">
                      <%= paginate @ConsultaHistTbit, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm", :remote => true, params: {:id => @alerta_Tran.Id, :kam => 'hist', :observaciones => nil} %>
                    </div>
                    <div class="detall_left" id="cont_p">
                      <%= page_entries_info @ConsultaHistTbit, entry_name: t('activerecord.all.alert') %>
                    </div>
                  </div>
                </div>
              </div>
            <% else %>
              <label><%= t('views.new_alert_tran.no_alerts') %></label>
            <% end %>

          </div>
        </div>

        <div class="ibox" style="border: 1px solid #E7EAEC">
          <div class="ibox-title" style="color: #2F4050">
            <h5><%= t('views.new_alert_tran.hist_tran') %></h5>
            <div class="ibox-tools">
              <div class="tooltip-demo">
                <button type="button" class="save_first btn btn-success btn-xs" data-toggle="tooltip" data-placement="bottom" title="<%= t('views.new_alert_tran.save_tran') %>">
                  <i class="fa fa-table"></i>
                </button>
                <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
                </a>
              </div>
            </div>
          </div>
          <div id="tableSearch" class="ibox-content transactions" style="display: block;">
            <div class="row">
              <div class="col-xs-3"></div>
              <div class="col-md-6 calendar_ini">
                <div class="col-xs-5">
                  <label> <%= t('views.alertc_index.start_date') %> </label>
                  <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="text" class="form-control entrada" placeholder="MM/DD/YYYY" autocomplete="off" id="start_date" name="start_date_tran">
                  </div>
                </div>
                <div class="col-xs-5 calendar_fin">
                  <label> <%= t('views.alertc_index.end_date') %> </label>
                  <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="text" class="form-control salida" placeholder="MM/DD/YYYY" autocomplete="off" id="end_date" name="end_date_tran">
                  </div>
                </div>
                <div class="col-xs-2 text-center">
                  <br>
                  <button class="btn btn-primary btn-sm" id="search" disabled="true"><%= t('all.search') %></button>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="loading align-bottom" style="display: none;">
                  <br>
                  <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                  <%= t('views.new_alert_tran.searching') %>
                </div>
              </div>
              <div class="align-bottom">
                <font color="#8b0000"><label id="errorFechas" style="display: none;"></label></font>
              </div>
            </div>
            <br>
            <div class="historialTransacciones">
              <%= render 'alertn/histTran' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="traducciones">
  <input id="titleAlert" type="hidden" value="<%= t('all.alert') %>">
  <input id="datosAlert" type="hidden" value="<%= t('all.datosAlert') %>">
  <input id="loseData" type="hidden" value="<%= t('all.loseData') %>">
  <input id="btn_continue" type="hidden" value="<%= t('all.btn_continue') %>">
  <input id="btn_yes" type="hidden" value="<%= t('all.yes') %>">
  <input id="btn_cancel" type="hidden" value="<%= t('all.cancel') %>">
  <input id="btn_save_send_from" type="hidden" value="<%= t('all.save_send') %>">
  <input id="btn_save_form" type="hidden" value="<%= t('all.save') %>">
</div>
<script type="text/javascript">

    contador = 0;
    $('#btnAddMails').on('click', function () {
        contador++;
        console.log(contador);

        var hijo = $('#gruposMail').children('div.i-checks')
        var hayGrupos = hijo.children().length

        if (contador == 1) {
            $('#contentMailGroups').addClass('contentMailGroups')
            $('#contentMailGroups').css('display', 'block')

            if (hayGrupos == 0) {
                $('#gruposMail').html('<strong><%= t('views.alert_new_index.not_groups') %></strong>')
            }
        } else {
            $('#contentMailGroups').removeClass('contentMailGroups')
            $('#contentMailGroups').css('display', 'none')
            contador = 0;
        }
    });

    //---- Checckear solo un radio
    $(document).ready(function () {
        $('input[type=radio]').on('click', function () {
            $(this).attr('checked', true)
            $(this).siblings().attr('checked', false)
        });

        var elem = document.querySelector('.js-switch');
        var switchery = new Switchery(elem, {color: '#003057'});
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });


    $(function () {
        $('.example-popover').popover({
            container: 'body'
        })
    });


    <% if @nuevo %>
    localStorage.setItem("Selected", "")
    <% end %>


    $(".ref").click(function () {
        var id = $(this).children(".id_tran").html()
        var tiene = $("#head" + id).hasClass("cerrado")

        if (tiene) {
            $("#head" + id).show()
//            $("#content_ref" + id).show()
            $("#head" + id).removeClass("cerrado")
//            $("#content_ref" + id).removeClass("cerrado")
            $("#head" + id).addClass("abierto")
            $(this).children(".show").html("")
            $(this).children(".show").append('<i class="fa fa-minus-square" aria-hidden="true"></i>')
//            $("#content_ref" + id).addClass("abierto")
        } else {
            $("#head" + id).hide()
//            $("#content_ref" + id).hide()
            $("#head" + id).removeClass("abierto")
//            $("#content_ref" + id).removeClass("abierto")
            $("#head" + id).addClass("cerrado")
            $(this).children(".show").html("")
            $(this).children(".show").append('<i class="fa fa-plus-square" aria-hidden="true"></i>')
//            $("#content_ref" + id).addClass("cerrado")
        }

    })

    //    $(function () {
    //        $('.arrastra').draggable({
    //            scroll: false,
    //            handle: "h2",
    //            cursor: "crosshair"
    //        });
    //    });

    $("#state_ob").change(function () {
        var valor = $(this).val()

        for (i = 0; i < gon.estados.length; i++) {
            if (gon.estados[i].IdEstado == valor) {
                var def = gon.estados[i].falso_positivo
                var msjDef = gon.estados[i].mensajeDefault
                console.log('valor de def: ' + def)
                console.log('Soy mensaje: ${msjDef}')
                $('#txObse').html(msjDef)

                if (def == 0) {
                    $("#fraud_no").iCheck('check')
                    $("#fraud_yes").iCheck('uncheck')
                    $("#fraud_no").iCheck('disable')
                    $("#fraud_yes").iCheck('disable')
                } else if (def == 1) {
                    $("#fraud_no").iCheck('uncheck')
                    $("#fraud_yes").iCheck('check')
                    $("#fraud_no").iCheck('disable')
                    $("#fraud_yes").iCheck('disable')
                } else if (def == 2) {
                    $("#fraud_no").iCheck('uncheck')
                    $("#fraud_yes").iCheck('uncheck')
                    $("#fraud_no").iCheck('enable')
                    $("#fraud_yes").iCheck('enable')
                }
                break;
            }
        }

    })

    $('#tab input').on('ifChecked', function (event) {
        //SOY DE ALERTTRAN

        var lc = localStorage.getItem("Selected");
        var selected = $(this).val();
        var checked_alert = lc.split(',')

        var existe = jQuery.inArray(selected, checked_alert)

        if (existe == -1) {
            if (lc == "") {
                localStorage.setItem("Selected", lc + selected);
            } else {
                localStorage.setItem("Selected", lc + "," + selected);
            }
        }


        if (lc == "") {
            $('#apply_obse').prop('disabled', true)
            $('#apply_obse').iCheck('uncheck');
        } else {
            $('#apply_obse').prop('disabled', false)
            $('.icheckbox_square-green').removeClass("disabled")
        }

        $("#valor").val(localStorage.getItem("Selected"))
    });


    $('#tab input').on('ifUnchecked', function (event) {
// SOY DE ALERTTRAN
        var lc = localStorage.getItem("Selected");
        var selected = $(this).val();
        var checked_alert = lc.split(',')

        var existe = jQuery.inArray(selected, checked_alert)

        if (existe != -1) {
            checked_alert.splice(existe, 1)
            checked_alert = checked_alert.join(",");
            localStorage.setItem("Selected", checked_alert)
        }


        if (lc == "") {
            $('#apply_obse').prop('disabled', true)
            $('#apply_obse').iCheck('uncheck');
        } else {
            $('#apply_obse').prop('disabled', false)
            $('.icheckbox_square-green').removeClass("disabled")
        }

        $("#valor").val(localStorage.getItem("Selected"))

        var seleccionados = $("#tab input:checkbox:checked").map(function () {
            return $(this).val()
        }).get();

        if (seleccionados.length < 10) {
            $("#check_all").removeClass("sel")
            $("#check_all").addClass("unsel")
            $("#check_all").html('');
            $("#check_all").append('<i class="fa fa-minus-square" aria-hidden="true"></i> <label> <%= t('views.permisos_edit.select') %> </label>')
        } else {
            $("#check_all").removeClass("unsel")
            $("#check_all").addClass("sel")
            $("#check_all").html('');
            $("#check_all").append('<i class="fa fa-minus-square" aria-hidden="true"></i> <label> <%= t('views.permisos_edit.unselect') %> </label>')
        }
    });

    $("#check_all").css("width", "155")

    $("#check_all").click(function () {
        var tiene = $(this).hasClass("unsel")

        if (tiene) {
            $(this).removeClass("unsel")
            $(this).addClass("sel")
            $(this).html('');
            $(this).append('<i class="fa fa-minus-square" aria-hidden="true"></i> <label> <%= t('views.permisos_edit.unselect') %> </label>')

            $("#tab input:checkbox").map(function () {
                $(this).iCheck('check')
            }).get();

        } else {
            $(this).removeClass("sel")
            $(this).addClass("unsel")
            $(this).html('');
            $(this).append('<i class="fa fa-minus-square" aria-hidden="true"></i> <label> <%= t('views.permisos_edit.select') %> </label>')

            $("#tab input:checkbox").map(function () {
                $(this).iCheck('uncheck')
            }).get();
        }
    })
    <% if @crearNewTran == 8 %>
    $(".xls_g").click(function () {
        var id = this.id;
        var idioma = $("#idioma").val()
        $.ajax({
            type: "GET",
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
            },
            url: "/alertn/alertTran?id=" + id + "&xls_g=true" + "&user_id=<%= current_user.id %>" + "&idioma=" + idioma,
            data: {"_method": "alertTran"},
        })

        toastr.options = {
            closeButton: true,
            progressBar: true,
            showMethod: 'slideDown',
            timeOut: 5000
        };
        toastr.success("<%= t('views.xls_a.message') %>", "<%= t('views.xls_a.message2') %>");
    })
    <% end %>

    $(document).ready(function () {

        //----Mostrar Input New State
        $('#btnAddState').click(function () {
            $('#contentState').toggle();
        });

        $('#contentMailGroups').click(function () {
            var hijo = $("#gruposMail").children('div.i-checks')
            var nieto = hijo.children('div.iradio_square-green')

            var check = $(".mail_groups").parent().hasClass('checked')
            var tieneClass = nieto.hasClass('checked')

            if (check == true) {
                $(".mail_groups").attr("checked", false)
                $(".mail_groups").parent().removeClass("checked")
                $(".emails").html("")
                $("#guardar").html('<i class="fa fa-floppy-o"></i> <%= t('all.save') %>')
            }

            // if (tieneClass == true) {
            //
            //     nieto.removeClass('checked')
            //     $(".emails").html("")
            // }

        });
    });

    $('#guardar').click(function () {
        let text = $(this).text();

        if (text === "<%= t('all.save_send') %>") {
            toastr.options = {
                closeButton: true,
                showMethod: 'slideDown'
            };
            toastr.success("<%= t('views.mailer.message2') %>", "<%= t('views.mailer.message') %>");
        }

        $("#observations_form").submit();
    })

    $(".mail_groups").on("ifChecked", function () {
        $(".emails").html("")
        var id = $(this).attr("id");
        id = id.slice(6)
        // cont = 0

        for (i = 0; i < gon.emails.length; i++) {
            if (gon.emails[i].group_id == id) {
                $(".emails").append(`<strong>${gon.emails[i].correo}</strong><br>`)
            }
        }

        hayCorreos = $('.emails').children().length

        if (hayCorreos == 0) {
            $(".emails").append('<strong><%= t('views.alert_new_index.not_mails') %></strong>').css('padding', '1em')
            $("#guardar").text('<%= t('all.save') %>')
        }

        $("#guardar").html('<i class="fa fa-floppy-o"></i> <%= t('all.save_send') %>')

    })

    //---- Input para calendario
    $(function () {
        var getDate = function (input) {
            return new Date(input.date.valueOf());
        }

        $(document).ready(function () {
            $("input[name=start_date_tran]").change(function () {
                $('input[name=end_date_tran]').val($('').val());
            });
        });

        $('.calendar_ini .input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true,
        }).on('changeDate',
            function (selected) {
                $('.salida').datepicker('clearDates');
                $('.salida').datepicker('setStartDate', getDate(selected));
            });

        $('.calendar_fin .input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true,
            startDate: '+5d',
            endDate: '+35d',
        })

        $('#start_date, #end_date').on('input', function () {
            valor = $(this).val()
            patron = /^[0-9/]*$/
            remp = /[^ 0-9/]+/ig

            if (!patron.test(valor)) {
                this.value = valor.replace(remp, "")
            }
        });

        //---- Validaciones Input para permitir busqueda
        $('#start_date, #end_date').keyup('change', function () {
            var start_input = $('#start_date').val()
            var end_input = $('#end_date').val()

            if (start_input == "" || end_input == "") {
                $('#search').attr('disabled', true)
            } else {
                $('#search').attr('disabled', false)
            }
        });

        $('#start_date, #end_date').change(function () {
            var start_input = $('#start_date').val()
            var end_input = $('#end_date').val()

            if (start_input == "" || end_input == "") {
                $('#search').attr('disabled', true)
            } else {
                $('#search').attr('disabled', false)
            }
        });
        $('#start_date, #end_date').change(function () {
            var valorbirth = $(this).val();

            var values = valorbirth.split("/");

            var ano = values[2];
            var mes = values[0];
            var dia = values[1];

            ano = parseInt(ano);
            mes = parseInt(mes);
            dia = parseInt(dia);

            if (valorbirth != "") {
                if ((mes < 13) && (dia < 32)) {

                    if ((mes == 1) || (mes == 3) || (mes == 5) || (mes == 7) || (mes == 8) || (mes == 10) || (mes == 12)) {
                        if (dia <= 31) {
                            $('#errorFechas').text('')
                            $('#errorFechas').hide()
                        } else {
                            $(this).val('');
                            var msg = "<%= t('views.registration_new.error_date')%>";
                            $("#errorFechas").show();
                            document.getElementById('errorFechas').innerHTML = msg;
                            return true;
                        }
                    }
                    if ((mes == 4) || (mes == 6) || (mes == 9) || (mes == 11)) {
                        if (dia <= 30) {
                            $('#errorFechas').text('')
                            $('#errorFechas').hide()
                        } else {
                            $(this).val('');
                            var msg = "<%= t('views.registration_new.error_date')%>";
                            $("#errorFechas").show();
                            document.getElementById('errorFechas').innerHTML = msg;
                            return true;
                        }
                    }

                    if (mes == 2) {

                        if ((ano % 4 == 0) && ((ano % 100 != 0) || (ano % 400 == 0))) {
                            if (dia <= 29) {
                                $('#errorFechas').text('')
                                $('#errorFechas').hide()
                            } else {
                                $(this).val('');
                                var msg = "<%= t('views.registration_new.error_date')%>";
                                $("#errorFechas").show();
                                document.getElementById('errorFechas').innerHTML = msg;
                                return true;
                            }
                        } else {
                            if (dia <= 28) {
                                $('#errorFechas').text('')
                                $('#errorFechas').hide()
                            } else {
                                $(this).val('');
                                var msg = "<%= t('views.registration_new.error_date')%>";
                                $("#errorFechas").show();
                                document.getElementById('errorFechas').innerHTML = msg;
                                return true;
                            }
                        }


                    }

                } else {
                    $(this).val('');
                    var msg = "<%= t('views.registration_new.error_date')%>";
                    $("#errorFechas").show();
                    document.getElementById('errorFechas').innerHTML = msg;
                    return true;
                }
            }
        });

        $('#start_date, #end_date').keyup(function () {
            var valor = $(this).val()

            if (valor == "/") {
                $(this).val("");
            }
        });

    })
    //---- Fin Input para calendario

    //---- Envío de rangos de fecha historial transaccional
    $("#search").click(function () {
        $(".loading").show();
        var start_input = $("#start_date").val()
        start_input = start_input.trim()
        start_input = start_input.split("/");
        start_input = start_input[2] + '-' + start_input[0] + '-' + start_input[1]

        var end_input = $("#end_date").val()
        end_input = end_input.trim()
        end_input = end_input.split("/");
        end_input = end_input[2] + '-' + end_input[0] + '-' + end_input[1]

        var idTran = $("#idAlert").val()

        var params = '&FechaIni=' + start_input + '&FechaFin=' + end_input;

        $.ajax({
            type: "GET",
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
            },
            url: "/alertn/alertTran?rangos_fecha=true" + "&user_id=<%= current_user.id %>" + params,
            data: {"_method": "histTran"},
            success: function (data) {
                $(".historialTransacciones").empty();
                //$('.historialTransacciones').html('<%#= escape_javascript render(:partial => "alertn/histTran") %>');
                $(".historialTransacciones").load('../alertn/histTran?rangos=true&idTran=' + idTran + params)
            }
        })

        //
    })

    // Tooltips de botones
    $('.tooltip-demo').tooltip({
        selector: "[data-toggle=tooltip]",
        container: "body"
    });
    // Fin Tooltips de botones

</script>
<style>
  /* Estilos de Tooltips */
  .ui-tooltip {
    display: block;
    font-size: 11px;
    opacity: 0.8;
    position: absolute;
    visibility: visible;
    z-index: 1024;
    max-width: 200px;
  }

  .ui-tooltip {
    background: #000000;
    border: 1px solid #000000;
  }

  .ui-tooltip {
    color: #FFFFFF;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: inset 0 1px 0 #000000;
    /* Safari 4 */
    -moz-box-shadow: inset 0 1px 0 #000000;
    /* Firefox 3.6 */
    box-shadow: inset 0 1px 0 #000000;
    border-radius: 4px 4px 4px 4px;
  }

  body .ui-tooltip {
    border-width: 1px;
  }

  /* FIN Estilos de Tooltips */

  /* Estilos de Toast */
  .toast-success {
    background-color: #003057;
  }

  #toast-container > .toast-success:before {
    content: none;
  }

  /* Fin de Tooltips */

  <% if @camposref.length > 5 %>
  /* Estilos de Referencia (scroll horizontal) */
  .ref-wrapper, .transactions {
    width: 100%;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .reference-table, .transactions {
    margin-right: 20px;
  }

  .ref-wrapper::-webkit-scrollbar-track, .transactions::-webkit-scrollbar-track {
    -webkit-box-shadow: #003057;
    background-color: #CCCCCC;
  }

  .ref-wrapper::-webkit-scrollbar, .transactions::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #F5F5F5;
  }

  .ref-wrapper::-webkit-scrollbar-thumb, .transactions::-webkit-scrollbar-thumb {
    background-color: #FFF;
    background-image: -webkit-linear-gradient(90deg,
    #3472a4 0%,
    #3472a4 25%,
    transparent 100%,
    #3472a4 75%,
    transparent)
  }

  /* FIN Estilos de Referencia (scroll horizontal) */
  <% end %>

  /* Estilos de Historial Transaccional (scroll vertical) */
  .transactions {
    max-height: 40em;
    overflow-y: scroll;
  }

  /* Fin Estilos de Historial Transaccional (scroll vertical) */


</style>