<div class="block-area" id="responsiveTable">
  <div class="ibox-title">
    <h1><%= t('views.settings_index.title') %></h1>
    <div class="panel">
      <div class="panel-body">
        <div class="block-area" id="tableBordered">
          <div class="ibox-content">
            <% if @settings == 0 %>
              <%= link_to '<i class="fa fa-clock-o"></i> '.html_safe + t('views.settings_index.btn_New'), new_gestor_setting_path, class: 'btn btn-xs btn-primary', id: 'botonNuevo' %>
            <% else %>
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                  <table class="table table-bordered table-striped table-condensed toggle-circle-filled tile" datapagesize="8" data-filter=#filter>
                    <tbody>
                    <tr bgcolor="#003057">
                      <td colspan="2" bgcolor="#003057" style="color: white">
                        <h4 class="text-center"><span class="fa fa-sun-o"></span> <%= t('views.settings_index.diurno') %></h4>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center"><span class="fa fa-clock-o"></span> <%= t('views.settings_index.inicio') %></td>
                      <td class="text-center"><span class="fa fa-times-circle-o"></span> <%= t('views.settings_index.fin') %></td>
                    </tr>
                    <tr>
                      <td class="text-center"><%= @gestor_settings.day_start %> hrs.</td>
                      <td class="text-center"><%= @gestor_settings.day_end %> hrs.</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-4"></div>
              </div>
              <br>

              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                  <table class="table table-bordered table-striped table-condensed toggle-circle-filled tile" datapagesize="8" data-filter=#filter>
                    <tbody>
                    <tr bgcolor="#003057">
                      <td colspan="2" bgcolor="#003057" style="color: white">
                        <h4 class="text-center"><span class="fa fa-moon-o"></span> <%= t('views.settings_index.nocturno') %></h4>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center"><span class="fa fa-clock-o"></span> <%= t('views.settings_index.inicio') %></td>
                      <td class="text-center"><span class="fa fa-times-circle-o"></span> <%= t('views.settings_index.fin') %></td>
                    </tr>
                    <tr>
                      <td class="text-center"><%= @gestor_settings.night_start %> hrs.</td>
                      <td class="text-center"><%= @gestor_settings.night_end %> hrs.</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-4"></div>
              </div>
              <br>

              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                  <table class="table table-bordered table-striped table-condensed toggle-circle-filled tile" datapagesize="8" data-filter=#filter>
                    <tbody>
                    <tr bgcolor="#003057">
                      <td colspan="3" bgcolor="#003057" style="color: white">
                        <h4 class="text-center"><span class="fa fa-sun-o"></span> <%= t('views.settings_index.limite_Diurno') %></h4>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center"><span class="fa fa-info-circle"></span> <%= t('views.settings_index.estado') %></td>
                      <td class="text-center"><span class="fa fa-clock-o"></span> <%= t('views.settings_index.inicio') %></td>
                      <td class="text-center"><span class="fa fa-times-circle-o"></span> <%= t('views.settings_index.fin') %></td>
                    </tr>
                    <tr>
                      <td class="text-center"><%= t('views.settings_index.normal') %></td>
                      <td class="text-center">0 mins.</td>
                      <td class="text-center"><%= @gestor_settings.blue_day_end %> mins.</td>
                    </tr>
                    <tr>
                      <td class="text-center"><%= t('views.settings_index.precaucion') %></td>
                      <td class="text-center"><%= @gestor_settings.yellow_day %> mins.</td>
                      <td class="text-center"><%= @gestor_settings.yellow_day_end %> mins</td>
                    </tr>
                    <tr>
                      <td class="text-center"><%= t('views.settings_index.alerta') %></td>
                      <td class="text-center"><%= @gestor_settings.red_day %> mins.</td>
                      <td class="text-center"><%= t('views.settings_index.adelante') %></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-5">
                  <table class="table table-bordered table-striped table-condensed toggle-circle-filled tile" datapagesize="8" data-filter=#filter>
                    <tbody>
                    <tr bgcolor="#003057">
                      <td colspan="3" bgcolor="#003057" style="color: white">
                        <h4 class="text-center"><span class="fa fa-moon-o"></span> <%= t('views.settings_index.limite_Nocturno') %></h4>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center"><span class="fa fa-info-circle"></span> <%= t('views.settings_index.estado') %></td>
                      <td class="text-center"><span class="fa fa-clock-o"></span> <%= t('views.settings_index.inicio') %></td>
                      <td class="text-center"><span class="fa fa-times-circle-o"></span> <%= t('views.settings_index.fin') %></td>
                    </tr>
                    <tr>
                      <td class="text-center"><%= t('views.settings_index.normal') %></td>
                      <td class="text-center">0 mins.</td>
                      <td class="text-center"><%= @gestor_settings.blue_night_end %> mins.</td>
                    </tr>
                    <tr>
                      <td class="text-center"><%= t('views.settings_index.precaucion') %></td>
                      <td class="text-center"><%= @gestor_settings.yellow_night %> mins.</td>
                      <td class="text-center"><%= @gestor_settings.yellow_night_end %> mins.</td>
                    </tr>
                    <tr>
                      <td class="text-center"><%= t('views.settings_index.alerta') %></td>
                      <td class="text-center"><%= @gestor_settings.red_night %> mins.</td>
                      <td class="text-center"><%= t('views.settings_index.adelante') %></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-1"></div>
              </div>
              </div>
              </div>
              <div class="row">
                <%= link_to '<i class="fa fa-pencil "></i> '.html_safe + t('views.settings_index.btn_Edit'), new_gestor_setting_path, class: 'btn btn-xs btn-primary', id: 'botonEditar' %>
              </div>
            <% end %>
            </div>
    </div>
  </div>
</div>