<div id="filter-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #003057; color:#fff;">
        <button id="modal_padre" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><i class="fa fa-filter"></i> <%= title %></h4>
      </div>
      <%= form_for @tx_filter, :html=>{class:'p-md'}, remote: true do |f| %>
        <% if @tx_filter.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(tx_filters.errors.count, "error") %> prohibited this tx_filters from being saved:</h2>

            <ul>
              <% tx_filter.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <% if action_name == 'new' %>

          <!-- Campo que guarda a que  Session se asignara este filtro -->
          <%= f.hidden_field :Session_id, value: params[:idSession] %>

          <h1><i class="fa fa-filter"></i> <%= t('views.tx_filter_index.title') %></h1>
          <fieldset class="responsive-fieldset" style="float: none; position: inherit;">
            <h3 class="text-center"><%= t('views.tx_filter_new.title') %></h3>
            <div class="row">
              <!-- ####### Descipción del Filtro ####### -->
              <div class="form-group col-lg-4">
                <%= f.label :Description, t('views.tx_filter_new.description') %>
                <%= f.text_field :Description, class:'form-control', placeholder:t('views.tx_filter_new.place_description'), autocomplete:'off', required: true %>
              </div>

              <!-- ####### Select Tipo de Filtro ####### -->
              <div class="col-md-3 col-lg-4">
                <%= f.label :Order_number, t('views.tx_filter_new.type_filter') %>
                <%#= f.select :Order_number ,{ t('views.tx_filter_new.select_type_filter') => '', t('views.tx_filter_new.option_main') => 0, t('views.tx_filter_new.option_general') => 1, t('views.tx_filter_new.option_group') => 2},{}, {class:'form-control'} %>
                <%#= f.select :Order_number ,{ t('views.tx_filter_new.option_main') => 0, t('views.tx_filter_new.option_general') => 1, t('views.tx_filter_new.option_group') => 2},{:prompt => t('views.tx_filter_new.select_type_filter')}, { class:'form-control', required: true } %>
                <%= f.select(:Order_number, options_for_select([[t('views.tx_filter_new.select_type_filter'), ''],[t('views.tx_filter_new.option_main'), 0,{'name'=>'principal'}],[t('views.tx_filter_new.option_general'), @order,{'name'=>'general'}],[t('views.tx_filter_new.option_group'), @order,{'name'=>'grupo'}]]),{}, {class:'form-control'}) %>
              </div>

              <!-- ####### Input Color y Select Groups ####### -->
              <div class="back-change">

                <!-- ####### Input Color ####### -->
                <div id="colorPicker" class="form-group col-lg-3 col-md-3" style="display: none">
                  <%#= f.label :backgroundColor, t('views.tx_filter_new.filter_color') , :id => "colorlabel" %>
                  <label for=""><%= t('views.tx_filter_new.filter_color')  %></label>
<!--                  <input type="text" class="form-control demo" id="backgroundColor" name="backgroundColor" autocomplete="off" disabled required>-->
                  <%= f.text_field :Backgroundcolor, id:'backgroundColor', class:'form-control demo', autocomplete:'off' %>
                </div>

                <!-- ####### Select Group ####### -->
                <div id="choseSelect" class="form-group col-lg-3 col-md-3" style="display: none">
                  <label><%= t('views.tx_filter_new.group') %></label>
                  <br>
                  <select data-placeholder="<%= t('views.tx_filter_new.place_group') %>" class="chosen-select" multiple style="width: 350px" tabindex="4" name="group_filter" id="group_sel">
                  </select>
                </div>

              </div>
            </div>
          </fieldset>

          <h1><i class="fa fa-filter"></i> <%= t('views.tx_filter_detail_index.title') %></h1>
          <fieldset class="responsive-fieldset filterDetail" style="float: none; position: inherit;">
              <h3 class="text-center"><%= t('views.tx_filter_detail_index.title') %></h3>
              <br>
              <br>

            <input type="hidden" id="condiFil" name="condiFil" >
              <div class="row col-lg-4" style="border-right: 2px solid #d6d6d6;">
                <!--######## EN ESTE DIV SE ENCUENTRAN CAMPOS-OPERADORES-VALUE-BEWTWEEN-IN ######### -->
                <div class="form-group col-lg-6">
                  <label><%= t('views.tx_filter_detail_new.feild') %></label>
                  <select name="" id="selectFeild" class="form-control selectFeild">
                    <option value=""><%= t('views.tx_filter_detail_new.select_feild') %></option>
                  </select>
                </div>

                <!--####### SELECT OPERATORS -->
                <div class="form-group col-lg-6">
                  <label><%= t('views.tx_filter_detail_new.operators') %></label>
                  <select name="" id="operator_sel" class="form-control operator_sel">
                    <option value=""><%= t('views.tx_filter_detail_new.select_operator') %></option>
                    <option value="0"> = </option>
                    <option value="1"> <> </option>
                    <option value="2"> > </option>
                    <option value="3"> >= </option>
                    <option value="4"> < </option>
                    <option value="5"> <= </option>
                    <option value="6"> Like </option>
                    <option value="7"> In </option>
                    <option value="7"> <%= t('views.tx_filter_detail_new.notPalabra') %> In </option>
                    <option value="8"> Between </option>
                    <option value="8"> <%= t('views.tx_filter_detail_new.notPalabra') %> Between </option>
                  </select>
                </div>

                <!--####### INPUT VALOR -->
                <div class="oneValue form-group col-lg-12">
                  <label for="valor"><%= t('views.tx_filter_detail_new.value') %></label>
                  <input type="text" id="valor" class="form-control" autocomplete="off" placeholder="<%= t('views.tx_filter_detail_new.place_value') %>">
                </div>

                <!--####### INPUTS BETWEEN / NOT BETWEEN -->
                <div class="betweenValue form-group col-lg-12" style="display: none">
                  <!--                    <label style="display: block">Between Or Not Between</label>-->
                  <input type="text" id="valOneBetween" class="form-control valOneBetween" autocomplete="off" placeholder="<%= t('views.tx_filter_detail_new.place_betw1') %>" style="width: 47.5%; margin: 0; display: inline-block;">
                  -
                  <input type="text" id="valTwoBetween" class="form-control valTwoBetween" autocomplete="off" placeholder="<%= t('views.tx_filter_detail_new.place_betw2') %>" style="width: 47.5%; margin: 0; display: inline-block;">
                </div>

                <!--####### SELECTS IN / NOT - AGREGAR LISTA -->
                <div class="inValue form-group col-lg-12" style="display: none">
                  <div class="anchoSelect inNot">
                    <!--                      <label style="display: block">In Or Not</label>-->
                    <select name="" id="selectList" class="form-control">
                      <option value=""><%= t('views.tx_filter_detail_new.select_list') %></option>
                      <option value="1">Tarj_Vip</option>
                      <option value="2">Tarj_Master</option>
                      <option value="3">Tarj_Visa</option>
                      <option value="4">Linea_Blanca</option>
                      <option value="5">Master</option>
                      <option value="6">Amex</option>
                    </select>
                  </div>

                  <div class="anchoSelect">
                    <label><%= t('views.tx_filter_detail_new.add_list') %></label>
                    <br>
                    <%#= f.file_field :attachment, id:'realBtnFile', class:'realBtnFile', style:'display: none'%>
                    <input type="file" id="realBtnFile" class="realBtnFile" style="display: none;">
                    <div class="upFiles">
                      <span class="btn btn-xs btn-primary falseBtnFile"><i class="fa fa-upload"></i></span>
                      <span id="customText" class="customText"> <%= t('views.tx_filter_detail_new.place_add_list') %></span>
                    </div>
                  </div>

                </div>

                <!--####### SELECT CONECTORES -->
                <div class="form-group col-lg-6">
                  <label><%= t('views.tx_filter_detail_new.connectors') %></label>
                  <select name="" id="selectConnector" class="form-control" disabled="true">
                    <option value=""><%= t('views.tx_filter_detail_new.select_connector') %></option>
                    <option value="0"><%= t('views.tx_filter_detail_new.or') %></option>
                    <option value="1"><%= t('views.tx_filter_detail_new.and') %></option>
                  </select>
                </div>

                <!--####### CHECKBOX DENIED -->
                <div class="col-lg-3 text-center altura contDenied">
                  <label><%= t('views.tx_filter_detail_new.denied') %></label>
                  <br>
                  <input type="checkbox" id="denied" class="i-checks" value="0" name="denied">
                </div>

                <!--####### AGREGAR CONDICION-->
                <div class="col-lg-3 text-center altura">
                  <div>
                    <label><%= t('views.tx_filter_detail_new.btn_add_condition') %></label>
                    <br>
                    <span class="btn btn-primary btn-xs addConditions"><i class="fa fa-plus"></i></span>
                  </div>
                </div>

                <!--####### AGREGAR Bloque de parenthesis-->
                <div class="col-lg-12" style="border-top: 2px solid #d6d6d6;  margin-top: 3em;">
                  <br>
                  <label><%= t('views.tx_filter_detail_new.add_parenthesis') %></label>
                  <select name="" id="selectParentesis" class="form-control selectParentesis">
                    <option value=""><%= t('views.tx_filter_detail_new.select_par') %></option>
                    <option title="<%= t('views.tx_filter_detail_new.and') %>" name="0" value="1"><%= t('views.tx_filter_detail_new.and') %>(</option>
                    <option title="<%= t('views.tx_filter_detail_new.or') %>" name="0" value="0"><%= t('views.tx_filter_detail_new.or') %>(</option>
                    <option title="" name="0" value="-1">(</option>
                    <option title="<%= t('views.tx_filter_detail_new.and') %>" name="1" value="1"><%= t('views.tx_filter_detail_new.notPalabra') %> <%= t('views.tx_filter_detail_new.and') %>(</option>
                    <option title="<%= t('views.tx_filter_detail_new.or') %>" name="1" value="0"><%= t('views.tx_filter_detail_new.notPalabra') %> <%= t('views.tx_filter_detail_new.or') %>(</option>
                    <option title="" name="1" value="-1"><%= t('views.tx_filter_detail_new.notPalabra') %>(</option>
                  </select>
                </div>
              </div>

              <div class="row col-lg-8" style="margin-left: 2em;">
                <!--######## Div donde se agregaran las condiciones ######### -->
                <div class="col-lg-12 col-md-12 text-right">
                  <%#= render partial: 'condition' %>
                  <div class="s_Condition">
                    <table class="table table-hover table-striped table-responsive" style="margin: 0">
                      <thead>
                      <tr>
                        <th class="text-center"><%= t('views.tx_filter_detail_new.denied') %></th>
                        <th class="text-center"><%= t('views.tx_filter_detail_new.connectors') %></th>
                        <th class="text-center"><%= t('views.tx_filter_detail_new.expression') %></th>
                        <th data-hide="phone, table" class="text-center"><%= t('all.delete') %></th>
                      </tr>
                      </thead>
                      <tbody id="drag-elements" class="tBodyCondition">
                      <!-- Aquí se agregaran de forma dinamica las condiciones -->
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </fieldset>

          <!-- Mensaje de alerta -->
          <h1><i class="fa fa-clock-o"></i> Horario </h1>
          <fieldset class="responsive-fieldset" style="float: none; position: inherit;">
            <div class="text-center" style="margin-bottom: 4em;">
              <h3>Configuración de Horario y Mensaje</h3>
            </div>
            <section class="row">

              <!-- Configuración del horario -->
              <article class="col-lg-6">
                <div class="header-subtitle">
                  <h4>Configuración de Horario</h4>
                </div>
                <div class="bg-light flexbox-horario">
                  <!-- Hora de inicio -->
                  <div class="form-custom">
                    <label for=""><%= t('views.tx_filter_schedules_index.sh_start') %></label>
                    <div class="input-group clockpicker" data-placement="right" data-autoclose="true">
                    <span class="input-group-addon">
                     <i class="fa fa-clock-o"></i>
                    </span>
                      <%#= f.text_field :Hr_Start, id:'time_start', class:'form-control', placeholder:'Seleccione una hora', require: true, autocomplete:'off' %>
                      <input type="text" id="time_start" name="Hr_Start" class="form-control" placeholder="Seleccione una hora" autocomplete="off" required>
                    </div>
                  </div>

                  <!-- Hora de Termino -->
                  <div class="form-custom">
                    <%= f.label :Hr_End, t('views.tx_filter_schedules_index.sh_end') %>
                    <div class="input-group clockpicker" data-placement="right" data-autoclose="true">
                    <span class="input-group-addon">
                     <i class="fa fa-clock-o"></i>
                    </span>
                      <%#= f.text_field :Hr_End, id:'time_end', class:'form-control', placeholder:'Seleccione una hora', require: true, autocomplete:'off' %>
                      <input type="text" id="time_end" name="Hr_End" class="form-control" placeholder="Seleccione una hora" autocomplete="off" required>
                    </div>
                  </div>

                  <!-- Aquí se define el limite y si este es máximo o mínimo -->
                  <div class="form-custom">
                    <%#= f.label :Max_Tran, 'M' %>
                    <label for=""><%= t('views.tx_filter_schedules_index.limit') %></label>
                    <div class="input-select-unidos">
                      <select name="select_limit" id="limite" class="form-control" >
                        <option value="1">Máximo</option>
                        <option value="2">Mínimo</option>
                      </select>
                      <input type="text" id="limit_tran" class="form-control" name="limit" placeholder="Ingrese Limite" autocomplete="off" required>
                    </div>
                  </div>

                  <!-- Aquí se define el Intervalo -->
                  <div class="form-custom">
                    <%#= f.label :Interval, t('views.tx_filter_schedules_index.interval') %>
                    <label for=""><%= t('views.tx_filter_schedules_index.interval') %></label>
                    <div class="input-select-unidos">
                      <%#= f.number_field :Interval, class:'form-control', placeholder:'Ingrese un Intervalo', autocomplete:"off" ,required: true %>
                      <select name="UMInterval" id="select_Interval_time" class="form-control">
                        <option value="0"><%= t('views.tx_filter_schedules_index.min') %></option>
                        <option value="1"><%= t('views.tx_filter_schedules_index.sec') %></option>
                      </select>
                      <input type="text" id="interval" name="Interval" class="form-control" placeholder="Ingrese un Intervalo" autocomplete="off" required>

                    </div>
                  </div>

                  <!-- Aquí se define el Time Out -->
                  <div class="form-custom">
                    <label for="">Tiempo Fuera</label>
                    <div class="input-select-unidos">
                      <%#= f.number_field :TimeOut, class:'form-control', placeholder:'Ingrese un Timpo Fuera', autocomplete:"off" %>
                      <select name="UMTimeout" id="select_timeout_time" class="form-control" >
                        <option value="-1">UM</option>
                        <option value="0"><%= t('views.tx_filter_schedules_index.min') %></option>
                        <option value="1"><%= t('views.tx_filter_schedules_index.sec') %></option>
                      </select>
                      <input type="text" id="timeOut" name="TimeOut" value="0" class="form-control" placeholder="Ingrese un Timpo Fuera" autocomplete="off" required>

                    </div>
                  </div>

                  <!-- Aquí se define el Intermedio -->
                  <div class="form-custom optional" style="display: none;">
                    <%#= f.label :Intermediate, 'Intermedio' %>
                    <label for="">Intermedio</label>
                    <div class="input-select-unidos">
                      <%#= f.number_field :Intermediate, class:'form-control', placeholder:'Ingrese un Intermedio', autocomplete:"off" %>
                      <select name="UMIntermediate" id="select_intermediate_time" class="form-control">
                        <option value="-1">UM</option>
                        <option value="0"><%= t('views.tx_filter_schedules_index.min') %></option>
                        <option value="1"><%= t('views.tx_filter_schedules_index.sec') %></option>
                      </select>
                      <input type="text" id="intermediate"name="Intermediate" value="0" class="form-control" placeholder="Ingrese un Intermedio" autocomplete="off" >

                    </div>
                  </div>

                </div>
              </article>

              <!-- Contenedor de los mensaje de Alerta -->
              <article class="col-lg-6">
                <div class="header-subtitle flex-mensaje">
                  <h4>Mensajes de Alertas</h4>
                  <span id="addMsn" class="btn btn-tunning btn-xs" title="Agregar Mensaje" data-toggle="modal" data-target="#modal1" title="Agregar Mensaje"><i class="fa fa-plus"></i></span>
                </div>
                <div class="bg-light cont-tab-msn">
                  <table class="table table-striped table-responsive" >
                    <thead>
                    <tr>
                      <th>Escalamiento</th>
                      <!--                      <th>Color</th>-->
                      <th>Mensaje</th>
                    </tr>
                    </thead>
                    <tbody class="mensaje-de-alerta">
                    <!-- Se llenara dinamicamente con los mensajes agregados por el usuario -->
                    </tbody>
                  </table>
                </div>
              </article>
            </section>
            <!--## Termina Configuración del horario -->

            <input type="hidden" name="commit" value="<%= t('all.save') %>">
          </fieldset>

        <% elsif action_name == 'edit' %>

          <div class="form-group">
            <%= f.label t('views.tx_filter_index.title') %>
            <%= f.text_field :Description, class:'form-control', autocomplete:'off' %>
          </div>
          <div class="form-group">
            <%= f.label t('views.tx_filter_new.type_filter') %>

            <% type_filtro = @tx_filter.Order_number %>
            <select name="tx_filters[Order_number]" id="tx_filters_Order_number" class="form-control">
              <option value="0" name="principal" <%= "#{'selected' if type_filtro == 0 }" %>>Principal</option>
              <% "Si type_filtro es igual a 0 agrego @order si no agrego  type_filtro" %>
              <option value="<%= ( type_filtro == 0 ? @order : type_filtro ) %>" name="general" <%= "#{'selected' if type_filtro != 0  && @tx_filter.Group_id.nil? }" %>>General</option>
              <option value="" name="grupo" <%= "#{'selected' if @tx_filter.Group_id.present? }" %>>Grupo</option>
            </select>
          </div>

          <div id="colorPicker" class="form-group" style='<%= ( type_filtro != 0  && @tx_filter.Group_id.nil? ? 'display:block' : 'display:none' ) %>'>
            <%= f.label t('views.tx_filter_new.filter_color') %>
            <%= f.text_field :Backgroundcolor, class:'form-control demo', autocomplete:'off', id:'backgroundColor' %>
          </div>

          <% "####### Select Group #######" %>
          <div id="choseSelect" class="form-group" style="<%= ( @tx_filter.Group_id.present? ? 'display:block' : 'display:none'  ) %>">
            <label><%= t('views.tx_filter_new.group') %></label>
            <br>
            <select data-placeholder="<%= t('views.tx_filter_new.place_group') %>" class="chosen-select" multiple style="width: 350px" tabindex="4" name="group_filter" id="group_sel">
            </select>
          </div>

          <%= f.submit t('all.save'), class:'btn btn-primary btn-xs' %>
        <% end %>

      <% end %>
      <script type="text/javascript" charset="utf-8">
        //El codigo de abajo se ejecuta solo si estas en el metodo new
        let metodo = "<%= action_name %>",
            existPrin = "<%= @sesPrinExist %>";

        if ( metodo == "new" ){

          // Crea los steps para el formulario
          let form = $('form#new_tx_filters');
          form.steps({
            bodyTag: "fieldset",
            enableCancelButton: true,
            enableFinishButton: true,

            onStepChanging: function (event, currentIndex, newIndex) {

                // Always allow going backward even if the current step contains invalid fields!
                if (currentIndex > newIndex) {
                    return true;
                }

                var form = $(this);

                // Clean up if user went backward before
                if (currentIndex < newIndex) {
                    // To remove error styles
                    $(".body:eq(" + newIndex + ") label.error", form).remove();
                    $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                }

                //Si retorna flase no avanza al sig. paso
                if( currentIndex == 0 ){

                    let divchosen = $(".choseSelect"),
                        elemntsTag = $('.chosen-choices');

                    if( divchosen.is(":visible") ){
                        // alert('Tengo:' + elemntsTag.children().length);

                        form.validate().settings.ignore = ":disabled,:hidden";

                        if( elemntsTag.children().length > 1 &&  form.valid() ){
                            // alert('true')
                            elemntsTag.css({
                                'background-color': '#fff',
                                'border': ' 1px solid #CBD5DD'
                            });

                            return true
                        } else {
                            // alert('false')
                            elemntsTag.css({
                                'background-color': '#fbe3e4',
                                'border': ' 1px solid #fbc2c4'
                            });

                            return false
                        }
                    }

                    // alert('Voy a valir campos')

                    form.validate().settings.ignore = ":disabled,:hidden";
                    return form.valid();

                //Step Detalle del filtro - valida que existan condiciones
                } else if ( currentIndex == 1 ) {


                    let numCondiciones = $('.tBodyCondition').children().length;

                    if ( numCondiciones <= 0 ){

                        $('.s_Condition').css({
                            'background-color': '#fbe3e4'
                        });

                        return false;

                    } else {
                        return true
                    }

                } else {
                    form.validate().settings.ignore = ":disabled,:hidden";
                    return form.valid();
                }

            },
            onStepChanged: function (event, currentIndex, priorIndex) {

              if( currentIndex === 2 ){

              } else {

                  btn_finish.css('display', 'none');
              }

            },
            onFinishing: function (event, currentIndex) {
                // alert('Entre aquiiii')

                form.validate().settings.ignore = ":disabled";
                // return form.valid();

                let tabMsn = $('.mensaje-de-alerta').children().length;

                if( tabMsn > 0 && form.valid() ){
                    return true
                } else {
                    form.valid();

                    $('.cont-tab-msn').addClass('error-tables');
                    return false
                }

            },
            onFinished: function (event, currentIndex) {

              //---Arreglo donde se guardaran todas las condiciones
              let condicionesFiltro = [],
                  td = $('.tBodyCondition').find('td.filterCondi');

              td.each(function() {
                  valor = $(this).html();
                  condicionesFiltro.push(valor);
              });

              $('#condiFil').val(condicionesFiltro);

              form.submit();

            },
            onCanceled: function (event, currentIndex) {
                window.location.href = '/tx_sessions/';
            },

            // Texto para botones
            labels: {
                cancel: 'Cancelar',
                finish: 'Finalizar',
                next: 'Siguiente',
                previous: 'Anterior'

            }
          });

          btn_finish = $('.actions ul').children().eq(2);
          btn_finish.css('display', 'none');

          $('.modal-dialog').css('width','90%');

          if ( existPrin == "true" ){
              // alert('Ocultar princpal');
              $('#tx_filters_Order_number option[value="0"]').fadeOut();

          }

        } else if ( metodo == "edit" ){
          let esPrincipal = '<%= "#{h @tx_filter.Order_number}" %>';

          if ( existPrin == "true" && esPrincipal != '0' ){

            $('#tx_filters_Order_number option[value="0"]').fadeOut();

          }
        }

        <% "//---Crea la paleta de colores con jquery-minicolors-rails" %>
        $('.demo').each(function () {
            $(this).minicolors({
                control: $(this).attr('data-control') || 'hue',
                defaultValue: $(this).attr('data-defaultValue') || '',
                format: $(this).attr('data-format') || 'hex',
                keywords: $(this).attr('data-keywords') || '',
                inline: $(this).attr('data-inline') === 'true',
                letterCase: $(this).attr('data-letterCase') || 'lowercase',
                opacity: $(this).attr('data-opacity'),
                position: $(this).attr('data-position') || 'bottom left',
                swatches: $(this).attr('data-swatches') ? $(this).attr('data-swatches').split('|') : [],
                change: function (value, opacity) {
                    if (!value) return;
                    if (opacity) value += ', ' + opacity;
                    if (typeof console === 'object') {
                        //console.log(value);
                    }
                },
                theme: 'bootstrap'
            });
        });


        //----Ayuda a mostrar el select-chose en el wizard
        setTimeout(function(){
            $('#group_sel_chosen').css('width','100%');
            $('.search-field').children().css('width', '217px');
        }, 2000);

        <% "//----agregar opciones a select campo" %>
        <% if action_name == 'new' %>
        let idSession = $('#tx_filters_Session_id').val();
        <% elsif action_name == 'edit'%>
        let idSession = '<%= @tx_filter.Session_id %>';
        <% end %>

        $(".selectFeild option.campoFil").remove();
        $("#group_sel option.groupFil").remove();
        $('#campos_alerta, #campos_modal_table').children().remove();

        for (let i = 0; i < gon.sesiones.length; i++){
            let sesionId = gon.sesiones[i].Id,
                layId = gon.sesiones[i].Lay_id,
                formatId = gon.sesiones[i].Format_id;

            if ( idSession == sesionId ){
                // alert('Sessiones iguales');

                for ( let c = 0; c < gon.tCamposFormatos.length; c++ ){

                    if ( (gon.tCamposFormatos[c].IdLay == layId ) && ( gon.tCamposFormatos[c].IdFormato == formatId) ){

                        for( let d = 0; d < gon.tCamposLays.length; d++ ){

                            if ( ( gon.tCamposLays[d].IdLay == gon.tCamposFormatos[c].IdLay ) && ( gon.tCamposLays[d].IdCampo == gon.tCamposFormatos[c].IdCampo )  ){

                                if ( gon.tCamposLays[d].Alias != ""){

                                    campoNormal = `<option class="campoFil" value="${gon.tCamposLays[d].IdCampo}" name="select_feild">${gon.tCamposLays[d].Alias}</option>`;
                                    campoRef =  gon.tCamposLays[d].Alias

                                } else{

                                    campoNormal = `<option class="campoFil" value="${gon.tCamposLays[d].IdCampo}" name="select_feild">${gon.tCamposLays[d].Nombre}</option>`;
                                    campoRef =  gon.tCamposLays[d].Nombre

                                }

                                $('.selectFeild, #group_sel').append(campoNormal);

                                //Obtengo el id de campo lo convierto a string y saco su longitud.
                                let idCampo = `${gon.tCamposLays[d].IdCampo}`,
                                    idCampoStr = String(idCampo).length,
                                    numIdCampo;

                                //Agrega 0, 00 al id dependiendo del decimal del id de campo
                                if ( idCampoStr == '1' ){

                                    // console.log(`Agrego 2 ceros a: 00${gon.tCamposLays[d].IdCampo}`);
                                    numIdCampo = `00${gon.tCamposLays[d].IdCampo}`;

                                } else if ( idCampoStr == '2' ){

                                    // console.log(`Agrego 1 ceros a: 0${gon.tCamposLays[d].IdCampo}`);
                                    numIdCampo = `0${gon.tCamposLays[d].IdCampo}`;

                                } else {
                                    // console.log(`El Id es de 3 digitos: ${gon.tCamposLays[d].IdCampo}`);
                                    numIdCampo = `${gon.tCamposLays[d].IdCampo}`;
                                }

                                //Tr para tabla campos mensaje
                                trCampoModal = `<tr id="${gon.tCamposLays[d].Longitud}" class="campo_modal_tr">
                                                   <td>${numIdCampo}_${campoRef}</td>
                                                </tr>`;

                                $('#campos_modal_table').append(trCampoModal);


                                //Tr para tabla campos de referencía
                                trCampo = `<tr>
                                              <td><input type="checkbox" value="${gon.tCamposLays[d].IdCampo}" class="check-id-Campo"></td>
                                              <td>${campoRef}</td>
                                            </tr>`;

                                $('#campos_alerta').append(trCampo);

                            }
                        }
                    }
                }

                //Agregando Campos Token
                for ( let it = 0; it < gon.tCamposToken.length; it++){

                    if ( (gon.tCamposToken[it].IdLay == layId) && (gon.tCamposToken[it].IdFormato == formatId)){

                        for ( let t = 0; t < gon.tDefToken.length; t++ ){

                            if ( (gon.tCamposToken[it].IdToken == gon.tDefToken[t].IdToken) && (gon.tCamposToken[it].IdCampo == gon.tDefToken[t].IdCampo) ){

                                let valor = `${gon.tDefToken[t].IdToken},${gon.tDefToken[t].IdCampo}`;

                                if(gon.tDefToken[t].Alias != ""){
                                    token = `<option value="${valor}" name="select_feild" class="dinamicField" >${gon.tDefToken[t].Alias}</option>`;
                                }else{
                                    token = `<option value="${valor}" name="select_feild" class="dinamicField" >${gon.tDefToken[t].Nombre}</option>`;
                                }

                                $(".selectFeild, #group_sel").append(token);
                            }
                        }

                    }
                }
            }
        }


        //----inicilizo chose-select
        $(".chosen-select").chosen();

        //---Radio Button i-checks
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });

        //---Cambia el valor del input Denied
        $('.icheckbox_square-green').on('ifClicked', function(){
            let _this = $('.icheckbox_square-green').hasClass('checked');

            if ( !_this ){

                $('#denied').val('1');

            } else {

                $('#denied').val('0');

            }
        });


        //Arrastrar y soltar con dragula
        let left = $('#drag-elements');

        var drake =  dragula([left[0]],{
            revertOnSpill: true
        });

        // Handle Events
        drake.on('drop', function(el, target, source, sibling){
            ordenFiltro();
        });

        //Time Picker
        $('.clockpicker').clockpicker();
      </script>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->

  <!-- Modal oculta para agregar el mensaje -->
  <div class="modal-dos" style="display: none">
    <!-- Header de la Modal -->
    <div class="header-msn p-xs">
      <div><h4 class="modal-title">Configuración del Mensaje</h4></div>
      <div><span id="cerrar_modal_dos" class="btn"><i class="fa fa-times"></i></span></div>
    </div>

    <input type="hidden" id="id_msn_alert">
    <div class="campos_modal p-m">

      <div class="msn content_table_campos">
        <table class="table table-striped table-responsive table-hover" >
          <thead>
          <tr>
            <th>Nombre</th>
          </tr>
          </thead>
          <tbody id="campos_modal_table">
          <!-- Los campos se llenan de forma dinamica -->
          </tbody>
        </table>
      </div>

      <div class="msn content_config m-l-lg m-r-lg">
        <div class="form-group d-flex">
          <label>Campo: <span id="campoSelect" class="text-info"></span></label>
          <label>Longitud: <span id="longCampoSelect" class="text-info"></span></label>
          <input type="hidden" id="long_campo" class="form-control">
        </div>

        <div class="form-group content-radios">
          <label for="">
            <input type="radio" id="rango" name="optionMsn" value="1" checked >
            Rango
          </label>

          <label for="">
            <input type="radio" id="primeros" name="optionMsn" value="2" >
            Primeros
          </label>

          <label for="">
            <input type="radio" id="ultimos" name="optionMsn" value="3" >
            Últimos
          </label>
        </div>

        <div class="form-group">

          <div class="rangos">
            <div class="form-group">
              <label for="">Posición</label>
              <input type="text" id="posInputConf" class="form-control">
            </div>
            <div class="form-group">
              <label for="">Longitud</label>
              <input type="text" id="longInputConf" class="form-control">
            </div>
          </div>




          <div class="form-group ultimos">
            <label for="">Últimos</label>
            <input type="text" id="ultimosInp" class="form-control">
          </div>

          <div class="form-group primeros">
            <label for="">Primeros</label>
            <input type="text" id="primerosInp" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label for="">Dividir / 100</label>
          <input type="checkbox" id="dividir">
        </div>

        <button id="btnAddMsn" class="btn btn-primary btn-xs">Aplicar</button>
      </div>

      <div class="msn content-ta m-r-lg">
        <h5>Mensaje</h5>
        <textarea id="mensaje_alerta" cols="30" rows="5" class="form-control" placeholder="Escribe tu mensaje..." style="resize: none; height: 90%"></textarea>
      </div>

    </div>

    <div class="p-m">
      <div class="btn-groups inputsCheckboxMsn" data-toggle="buttons">
        <div>
          <h5>Opciones de Mensaje</h5>
        </div>

        <strong>Fecha/Hora</strong>
        <label id="fecha" class="btn btn-primary btn-xs m-r">
          <input type="checkbox" id="fechaMsn" value="0" autocomplete="off">
          <span class="fa fa-check"></span>
        </label>

        <strong>Descripción</strong>
        <label id="descripcion" class="btn btn-primary btn-xs m-r">
          <input type="checkbox" id="desMsn" value="0" autocomplete="off">
          <span class="fa fa-check"></span>
        </label>

        <strong>Escala</strong>
        <label id="escala" class="btn btn-primary btn-xs m-r">
          <input type="checkbox" id="escalaMsn" value="0" autocomplete="off">
          <span class="fa fa-check"></span>
        </label>

        <strong>Limites</strong>
        <label id="limite" class="btn btn-primary btn-xs m-r">
          <input type="checkbox" id="limitesMsn" value="0" autocomplete="off">
          <span class="fa fa-check"></span>
        </label>


        <strong>Refencias</strong>
        <label id="refecia" class="btn btn-primary btn-xs m-r">
          <input type="checkbox" id="referenciMsn" value="0" autocomplete="off">
          <span class="fa fa-check"></span>
        </label>
      </div>
    </div>

    <!-- Guardar mensajes -->
    <div class="actions p-m">
      <span id="saveMsn" class="btn btn-primary btn-xs"><%= t('all.save') %></span>
      <!--          <span id="cancelMsn" class="btn btn-primary btn-xs"><%#= t('all.cancel') %></span>-->
    </div>
  </div>
</div><!-- /.modal -->