<tr class="<%= fil.id %> treegrid-<%= @order %> treegrid-parent-<%= @parent %>">
  <td colspan="2">
    <div class="treegrid-container" style="margin-left: 48px;">
      <span class="treegrid-expander"></span>
      <strong><%= fil.Description %></strong>
    </div>
  </td>
  <td>
    <% if fil.Order_number == 0 %>
      <span class="cube-filter-primray"></span> <span>Principal</span>
    <% elsif fil.Order_number != 0 && fil.Group_id.nil? %>
      <span class="cube-filter-sec"></span> <span>General</span>
    <% else %>
      <span class="cube-filter-group"></span> <span>Grupo</span>
    <% end %>
  </td>
  <td><input id="<%= fil.Id %>" type="checkbox" class="democ" onclick="toggle(this)"></td>
  <% @tx_filter_schedules = TxFilterSchedule.where(:filter_id => fil.id).count %>
  <td colspan="2">
    <% if @tx_filter_schedules > 0  %>
      <a class="btn btn-primary btn-xs"><%= @tx_filter_schedules %></a> |
    <% else  %>
      <span class="text-danger bg-danger">Sin horarios</span> |
    <% end %>
    <%= link_to '<i class="fa fa-plus"></i>'.html_safe, new_tx_filter_schedule_path(:idFiltro => fil.id), remote: true, class:'btn btn-primary btn-xs' %>
  </td>
  <td><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_tx_filters_path(fil), remote: true, class:'btn btn-warning btn-xs' %></td>
  <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, fil, method: :delete, class:'btn btn-danger btn-xs' %></td>
</tr>