<% if @tx_filter.errors.empty? %>
// add the row to the table, show alert and hide modal
$('table tbody tr.<%= @tx_filter.id %>').replaceWith(' <%= j render "row", fil: @tx_filter %>');
$('#filter-modal').modal('hide');
<% else %>
// show first error
alert('<%= @tx_filter.errors.full_messages[0] %>');
<% end %>