<%= form_for @group, :html => {:class => "form-horizontal", :id => "form1"} do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% @group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @error.present? %>
    <div class="alert alert-danger alert-dismissable">
      <button aria-hidden="true" data-dismiss="alert" class="close" type="button">x</button>
      <p><%= @error %></p>
    </div>
  <% end %>
  <br>

  <div class="row">
    <div class="form-group">
      <div class="col-md-1"></div>
      <div class="col-md-1 text-center">
        <%= f.label t('views.groups_index.name'), :class => "control-label" %>
      </div>
      <div class="col-md-8">
        <%= f.text_field :name, :class => "form-control", :id => "name", :placeholder => t('views.groups_index.place'), :autocomplete => :off, :required => true %>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <% if action_name == "edit" %>
        <table class="table table-bordered table-striped table-condensed toggle-circle-filled title" datapagesize="8" data-filter=#filter id="table">
          <br>
          <thead>
          <tr>
            <th class="text-center" style="width: 30px"><%= t('views.groups_form.hab') %></th>
            <th class="text-center"><%= t('views.groups_form.seccion') %></th>
            <th class="text-center" style="width: 30px;"><%= t('views.groups_form.Campo') %></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="text-center">

              <% if @btn == true && @group.detail == "null" %>

                <div class="checkbox checkbox-primary">
                  <input type="checkbox" name="detail" id="checkbox1">
                  <label for="checkbox1"></label>
                </div>

              <% else %>

                <div class="checkbox checkbox-primary">
                  <input type="checkbox" name="detail" id="checkbox1" checked>
                  <label for="checkbox1"></label>
                </div>

              <% end %>

            </td>
            <td class="text-center">
              <%= f.label :detail, t('views.groups_form.detail'), :class => "control-label" %>
            </td>
            <td>
                <% @detail = @group.detail.split(',') %>
                <select id="select1" data-placeholder="<%= t('views.groups_form.please') %>" class="chosen" multiple="multiple" name="select1" disabled>
                  <% if "Ticket" == @detail[0] || "Ticket" == @detail[1] || "Ticket" == @detail[2] || "Ticket" == @detail[3] || "Ticket" == @detail[4] %>
                    <option value="Ticket" selected>Ticket</option>
                  <% else %>
                    <option value="Ticket">Ticket</option>
                  <% end %>

                  <% if "Fecha/Hora" == @detail[0] || "Fecha/Hora" == @detail[1] || "Fecha/Hora" == @detail[2] || "Fecha/Hora" == @detail[3] || "Fecha/Hora" == @detail[4] %>
                    <option value="Fecha/Hora" selected><%= t('views.groups_form.Fecha') %></option>
                  <% else %>
                    <option value="Fecha/Hora"><%= t('views.groups_form.Fecha') %></option>
                  <% end %>

                  <% if "Origen" == @detail[0] || "Origen" == @detail[1] || "Origen" == @detail[2] || "Origen" == @detail[3] || "Origen" == @detail[4] %>
                    <option value="Origen" selected><%= t('views.groups_form.origen') %></option>
                  <% else %>
                    <option value="Origen"><%= t('views.groups_form.origen') %></option>
                  <% end %>

                  <% if "Mensaje" == @detail[0] || "Mensaje" == @detail[1] || "Mensaje" == @detail[2] || "Mensaje" == @detail[3] || "Mensaje" == @detail[4] %>
                    <option value="Mensaje" selected><%= t('views.groups_form.mensaje') %></option>
                  <% else %>
                    <option value="Mensaje"><%= t('views.groups_form.mensaje') %></option>
                  <% end %>

                  <% if "Filtro" == @detail[0] || "Filtro" == @detail[1] || "Filtro" == @detail[2] || "Filtro" == @detail[3] || "Filtro" == @detail[4] %>
                    <option value="Filtro" selected><%= t('views.groups_form.filtro') %></option>
                  <% else %>
                    <option value="Filtro"><%= t('views.groups_form.filtro') %></option>
                  <% end %>

                </select>
                <input type="hidden" class="form-control" id="campo1" name="campo1">
            </td>
          </tr>
          <tr>
            <td class="text-center">

              <% if @btn == true && @group.reference == "null" %>

                <div class="checkbox checkbox-primary">
                  <input type="checkbox" name="reference" id="checkbox2">
                  <label for="checkbox2"></label>
                </div>

              <% else %>

                <div class="checkbox checkbox-primary">
                  <input type="checkbox" name="reference" id="checkbox2" checked>
                  <label for="checkbox2"></label>
                </div>

              <% end %>

            </td>
            <td class="text-center">
              <%= f.label :reference, t('views.groups_form.ref'), :class => "control-label" %>
            </td>
            <td>

                <% @refe = @group.reference.split(',') %>
                <select id="select2" data-placeholder="<%= t('views.groups_form.please') %>" class="chosen" multiple="multiple" disabled>
                  <% if @refe.present? %>
                    <% @consulta.each do |consulta| %>
                      <% @refe.each do |referencia| %>
                        <% if referencia == consulta.campo %>
                          <option value="<%= consulta.campo %>" selected><%= consulta.campo %></option>
                        <% end %>
                      <% end %>
                      <option value="<%= consulta.campo %>"><%= consulta.campo %></option>
                    <% end %>
                  <% else %>
                    <% @consulta.each do |ref| %>
                      <option value="<%= ref.campo %>"><%= ref.campo %></option>
                    <% end %>
                  <% end %>
                </select>
            </td>
          </tr>
          <tr>
            <td class="text-center">

              <% if @btn == true && @group.area == "null" %>

                <div class="checkbox checkbox-primary">
                  <input type="checkbox" id="checkbox3" name="area">
                  <label for="checkbox3"></label>
                </div>

              <% else %>

                <div class="checkbox checkbox-primary">
                  <input type="checkbox" id="checkbox3" name="area" checked>
                  <label for="checkbox3"></label>
                </div>

              <% end %>

            </td>
            <td class="text-center">
              <%= f.label :area, t('views.groups_form.area'), :class => "control-label" %>
            </td>
            <td>
                <% @area = @group.area.split(',') %>
                <select id="select3" data-placeholder="<%= t('views.groups_form.please') %>" class="chosen" multiple="multiple" disabled>

                  <% if "Fecha/Hora" == @area[0] || "Fecha/Hora" == @area[1] || "Fecha/Hora" == @area[2] || "Fecha/Hora" == @area[3] %>
                    <option value="Fecha/Hora" selected><%= t('views.groups_form.Fecha') %></option>
                  <% else %>
                    <option value="Fecha/Hora"><%= t('views.groups_form.Fecha') %></option>
                  <% end %>

                  <% if "Observaciones" == @area[0] || "Observaciones" == @area[1] || "Observaciones" == @area[2] || "Observaciones" == @area[3] %>
                    <option value="Observaciones" selected><%= t('views.groups_form.observaciones') %></option>
                  <% else %>
                    <option value="Observaciones"><%= t('views.groups_form.observaciones') %></option>
                  <% end %>

                  <% if "Estado" == @area[0] || "Estado" == @area[1] || "Estado" == @area[2] || "Estado" == @area[3] %>
                    <option value="Estado" selected><%= t('views.groups_form.estado') %></option>
                  <% else %>
                    <option value="Estado"><%= t('views.groups_form.estado') %></option>
                  <% end %>

                  <% if "Usuario" == @area[0] || "Usuario" == @area[1] || "Usuario" == @area[2] || "Usuario" == @area[3] %>
                    <option value="Usuario" selected><%= t('views.groups_form.usuario') %></option>
                  <% else %>
                    <option value="Usuario"><%= t('views.groups_form.usuario') %></option>
                  <% end %>

                </select>
                <input type="hidden" class="form-control" id="campo3" name="campo3">
            </td>
          </tr>
          <tr>
            <td class="text-center">

              <% if @btn == true && @group.hist_alert == "null" %>

                <div class="checkbox checkbox-primary">
                  <input type="checkbox" name="hist_alert" id="checkbox4">
                  <label for="checkbox4"></label>
                </div>

              <% else %>

                <div class="checkbox checkbox-primary">
                  <input type="checkbox" name="hist_alert" id="checkbox4" checked>
                  <label for="checkbox4"></label>
                </div>

              <% end %>

            </td>
            <td class="text-center">
              <%= f.label :hist_alert, t('views.groups_form.hist_alert'), :class => "control-label" %>
            </td>
            <td>
                <% @hist = @group.hist_alert.split(',') %>
                <select id="select4" data-placeholder="<%= t('views.groups_form.please') %>" class="chosen" multiple="multiple" disabled>

                  <% if "Ticket" == @hist[0] || "Ticket" == @hist[1] || "Ticket" == @hist[2] || "Ticket" == @hist[3] || "Ticket" == @hist[4] %>
                    <option value="Ticket" selected>Ticket</option>
                  <% else %>
                    <option value="Ticket">Ticket</option>
                  <% end %>

                  <% if "Fecha/Hora" == @hist[0] || "Fecha/Hora" == @hist[1] || "Fecha/Hora" == @hist[2] || "Fecha/Hora" == @hist[3] || "Fecha/Hora" == @hist[4] %>
                    <option value="Fecha/Hora" selected><%= t('views.groups_form.Fecha') %></option>
                  <% else %>
                    <option value="Fecha/Hora"><%= t('views.groups_form.Fecha') %></option>
                  <% end %>

                  <% if "Origen" == @hist[0] || "Origen" == @hist[1] || "Origen" == @hist[2] || "Origen" == @hist[3] || "Origen" == @hist[4] %>
                    <option value="Origen" selected><%= t('views.groups_form.origen') %></option>
                  <% else %>
                    <option value="Origen"><%= t('views.groups_form.origen') %></option>
                  <% end %>

                  <% if "Filtro" == @hist[0] || "Filtro" == @hist[1] || "Filtro" == @hist[2] || "Filtro" == @hist[3] || "Filtro" == @hist[4] %>
                    <option value="Filtro" selected><%= t('views.groups_form.filtro') %></option>
                  <% else %>
                    <option value="Filtro"><%= t('views.groups_form.filtro') %></option>
                  <% end %>

                  <% if "Estado" == @hist[0] || "Estado" == @hist[1] || "Estado" == @hist[2] || "Estado" == @hist[3] || "Estado" == @hist[4] %>
                    <option value="Estado" selected><%= t('views.groups_form.estado') %></option>
                  <% else %>
                    <option value="Estado"><%= t('views.groups_form.estado') %></option>
                  <% end %>

                </select>
                <input type="hidden" class="form-control" id="campo4" name="campo4">
            </td>
          </tr>
          <tr>
            <td class="text-center">

              <% if @btn == true && @group.hist_trans == "null" || @group.hist_trans == "undefined" %>

                <div class="checkbox checkbox-primary">
                  <input type="checkbox" name="hist_trans" id="checkbox5">
                  <label for="checkbox5"></label>
                </div>

              <% else %>

                <div class="checkbox checkbox-primary">
                  <input type="checkbox" name="hist_trans" id="checkbox5" checked>
                  <label for="checkbox5"></label>
                </div>

              <% end %>

            </td>
            <td class="text-center">
              <%= f.label :hist_trans, t('views.groups_form.hist_trans'), :class => "control-label" %>
            </td>
            <td style="width: 320px">

                <% @trans = @group.hist_trans.split(',') %>
                <select id="select5" data-placeholder="<%= t('views.groups_form.please') %>" class="chosen" multiple="multiple" disabled>
                  <% if @trans.present? %>
                    <% @consulta.each do |consulta| %>
                      <% @trans.each do |trans| %>
                        <% if trans == consulta.campo %>
                          <option value="<%= consulta.campo %>" selected><%= consulta.campo %></option>
                        <% end %>
                      <% end %>
                      <option value="<%= consulta.campo %>"><%= consulta.campo %></option>
                    <% end %>
                  <% else %>
                    <% @consulta.each do |ref| %>
                      <option value="<%= ref.campo %>"><%= ref.campo %></option>
                    <% end %>
                  <% end %>
                </select>
              <input type="hidden" class="form-control" id="campo5" name="campo5">
              <br>
              <div id="col6">
                <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-3" style="padding-left: 35px">
                    <label class="control-label text-center">Fraude</label>
                  </div>
                  <div class="col-md-5"></div>
                </div>
                <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-4 text-center">
                    <div class="radio radio-primary">
                      <input type="radio" name="radioref3" id="radioref3" value="true">
                      <label for="radioref3">Si</label>
                    </div>
                  </div>
                  <div class="col-md-4 text-center">
                    <div class="radio radio-primary">
                      <input type="radio" name="radioref4" id="radioref4" value="false">
                      <label for="radioref4">No</label>
                    </div>
                  </div>
                  <div class="col-md-2"></div>
                </div>
                <input type="hidden" class="form-control" id="camporadio" name="camporadio">
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      <% else %>
        <table class="table table-bordered table-striped table-condensed toggle-circle-filled title" datapagesize="8" data-filter=#filter id="table">
          <br>
          <thead>
          <tr>
            <th class="text-center" style="width: 30px"><%= t('views.groups_form.hab') %></th>
            <th class="text-center"><%= t('views.groups_form.seccion') %></th>
            <th class="text-center" style="width: 30px;"><%= t('views.groups_form.Campo') %></th>
          </tr>
          </thead>
          <tbody>

          <tr>
            <td class="text-center">
              <div class="checkbox checkbox-primary">
                <input type="checkbox" name="detail" id="checkbox1">
                <label for="checkbox1"></label>
              </div>
            </td>
            <td class="text-center">
              <%= f.label :detail, t('views.groups_form.detail'), :class => "control-label" %>
            </td>
            <td>
              <select id="select1" data-placeholder="<%= t('views.groups_form.please') %>" class="chosen" multiple="multiple" name="select1[]" disabled>
                <option value="Ticket">Ticket</option>
                <option value="Fecha/Hora"><%= t('views.groups_form.Fecha') %></option>
                <option value="Origen"><%= t('views.groups_form.origen') %></option>
                <option value="Mensaje"><%= t('views.groups_form.mensaje') %></option>
                <option value="Filtro"><%= t('views.groups_form.filtro') %></option>
              </select>
              <input type="hidden" class="form-control" id="campo1" name="campo1">
            </td>
          </tr>

          <tr>
            <td class="text-center">
              <div class="checkbox checkbox-primary">
                <input type="checkbox" name="reference" id="checkbox2">
                <label for="checkbox2"></label>
              </div>
            </td>
            <td class="text-center">
              <%= f.label :reference, t('views.groups_form.ref'), :class => "control-label" %>
            </td>
            <td>
              <select id="select2" data-placeholder="<%= t('views.groups_form.please') %>" class="chosen" multiple="multiple" disabled>
                <% @consulta.each do |ref| %>
                  <option value="<%= ref.campo %>"><%= ref.campo %></option>
                <% end %>
              </select>
            </td>
          </tr>

          <tr>
            <td class="text-center">
              <div class="checkbox checkbox-primary">
                <input type="checkbox" id="checkbox3" name="area">
                <label for="checkbox3"></label>
              </div>
            </td>
            <td class="text-center">
              <%= f.label :area, t('views.groups_form.area'), :class => "control-label" %>
            </td>
            <td>
              <select id="select3" data-placeholder="<%= t('views.groups_form.please') %>" class="chosen" multiple="multiple" disabled>
                <option value="Fecha/Hora"><%= t('views.groups_form.Fecha') %></option>
                <option value="Observaciones"><%= t('views.groups_form.observaciones') %></option>
                <option value="Estado"><%= t('views.groups_form.estado') %></option>
                <option value="Usuario"><%= t('views.groups_form.usuario') %></option>
              </select>
              <input type="hidden" class="form-control" id="campo3" name="campo3">
            </td>
          </tr>

          <tr>
            <td class="text-center">
              <div class="checkbox checkbox-primary">
                <input type="checkbox" name="hist_alert" id="checkbox4">
                <label for="checkbox4"></label>
              </div>
            </td>
            <td class="text-center">
              <%= f.label :hist_alert, t('views.groups_form.hist_alert'), :class => "control-label" %>
            </td>
            <td>
              <select id="select4" data-placeholder="<%= t('views.groups_form.please') %>" class="chosen" multiple="multiple" disabled>
                <option value="Ticket">Ticket</option>
                <option value="Fecha/Hora"><%= t('views.groups_form.Fecha') %></option>
                <option value="Origen"><%= t('views.groups_form.origen') %></option>
                <option value="Filtro"><%= t('views.groups_form.filtro') %></option>
                <option value="Estado"><%= t('views.groups_form.estado') %></option>
              </select>
              <input type="hidden" class="form-control" id="campo4" name="campo4">
            </td>
          </tr>

          <tr>
            <td class="text-center">
              <div class="checkbox checkbox-primary">
                <input type="checkbox" name="hist_trans" id="checkbox5">
                <label for="checkbox5"></label>
              </div>
            </td>
            <td class="text-center">
              <%= f.label :hist_trans, t('views.groups_form.hist_trans'), :class => "control-label" %>
            </td>
            <td style="width: 320px">
                <select id="select5" data-placeholder="<%= t('views.groups_form.please') %>" class="chosen" multiple="multiple" disabled>
                  <% @consulta.each do |ref| %>
                    <option value="<%= ref.campo %>"><%= ref.campo %></option>
                  <% end %>
                </select>
              <input type="hidden" class="form-control" id="campo5" name="campo5">
              <br>
              <div id="col6">
                <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-3" style="padding-left: 35px">
                    <label class="control-label text-center">Fraude</label>
                  </div>
                  <div class="col-md-5"></div>
                </div>
                <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-4 text-center">
                    <div class="radio radio-primary">
                      <input type="radio" name="radioref3" id="radioref3" value="1">
                      <label for="radioref3">Si</label>
                    </div>
                  </div>
                  <div class="col-md-4 text-center">
                    <div class="radio radio-primary">
                      <input type="radio" name="radioref4" id="radioref4" value="0">
                      <label for="radioref4">No</label>
                    </div>
                  </div>
                  <div class="col-md-2"></div>
                </div>
                <input type="hidden" class="form-control" id="camporadio" name="camporadio">
              </div>
            </td>
          </tr>

          </tbody>
        </table>
      <% end %>
    </div>
    <div class="col-md-3"></div>
  </div>
  <br>
  <br>
  <%= button_tag(type: 'submit', name: 'save_mails', class: 'btn btn-primary btn-xs', :disabled => true, id: 'save_mails', data: {:no_turbolink => true}) do %>
    <i class="fa fa-envelope"></i> <%= t('all.save') %>
  <% end %>

  <%= link_to '<span class="fa fa-envelope" ></span>  '.html_safe + t('all.back'), groups_path, :class => 'btn btn-xs btn-primary' %>
<% end %>

<style>
  select {
    width: 300px;
  }

</style>

<script type="text/javascript">

    $('#radioref3').on("click", function () {
        $('#radioref4').prop("checked", false);
        var radio = $(this).val();
        var radioall = String(radio)
        $('#camporadio').val(radioall)
    });
    $('#radioref4').on("click", function () {
        $('#radioref3').prop("checked", false);
        var radio2 = $(this).val();
        var radioll2 = String(radio2)
        $('#camporadio').val(radioll2)
    });

    $('#save_mails').click(function () {
        var campo = $('#select1').val()
        $("#campo1").val(String(campo))
        if ($('#select2').val() != null) {
            var camp = $('#select2').val()
            $("#campo5").val(String(camp))
        } else {
            var campo5 = $('#select5').val()
            $("#campo5").val(String(campo5))
        }
        var campo3 = $('#select3').val()
        $("#campo3").val(String(campo3))
        var campo4 = $('#select4').val()
        $("#campo4").val(String(campo4))
        if ($('#select5').val() != null) {
            var campo5 = $('#select5').val()
            $("#campo5").val(String(campo5))
        } else {
            var camp = $('#select2').val()
            $("#campo5").val(String(camp))
        }
    });

    $(".chosen").chosen();

    $('#select2').on("change", function () {
        var campo2 = $('#select2').val()
        var campo_all2 = String(campo2)
        $("#campo5").val(campo_all2)
        var valcampo = $('#campo5').val()
        var ch5 = document.getElementById('checkbox5')
        if (valcampo != "null") {
            $("#select5").attr('disabled', true).trigger("chosen:updated");
            $('#select5').val([]).trigger('chosen:updated');
        } else if (valcampo == "null" && ch5.checked) {
            $("#select5").attr('disabled', false).trigger("chosen:updated");
        }
    });

    $('#select5').on("change", function () {
        var campo5 = $('#select5').val()
        var campo_all5 = String(campo5)
        $("#campo5").val(campo_all5)
        var valcampo5 = $('#campo5').val()
        var ch2 = document.getElementById('checkbox2')
        if (valcampo5 != "null") {
            $("#select2").attr('disabled', true).trigger("chosen:updated");
            $('#select2').val([]).trigger('chosen:updated');
        } else if (valcampo5 == "null" && ch2.checked) {
            $("#select2").attr('disabled', false).trigger("chosen:updated");
        }
    });

    $(document).ready(function () {

        //Ocultar y mostrar los select multiple al seleccionar un checkbox
        <% if action_name == "edit" %>
        <% if @btn == true && @group.detail == "null" %>
        $("#select1").attr('disabled', true).trigger("chosen:updated");
        <% else %>
        $("#select1").attr('disabled', false).trigger("chosen:updated");
        <% end %>
        <% if @btn == true && @group.reference == "null" %>
        $("#select2").attr('disabled', true).trigger("chosen:updated");
        <% else %>
        $("#select2").attr('disabled', false).trigger("chosen:updated");
        <% end %>
        <% if @btn == true && @group.area == "null" %>
        $("#select3").attr('disabled', true).trigger("chosen:updated");
        <% else %>
        $("#select3").attr('disabled', false).trigger("chosen:updated");
        <% end %>
        <% if @btn == true && @group.hist_alert == "null" %>
        $("#select4").attr('disabled', true).trigger("chosen:updated");
        <% else %>
        $("#select4").attr('disabled', false).trigger("chosen:updated");
        <% end %>
        <% if @btn == true && @group.hist_trans == "null" || @group.hist_trans == "undefined" %>
        $("#select5").attr('disabled', true).trigger("chosen:updated");
        $('#col6').hide();
        <% else %>
        $("#select5").attr('disabled', false).trigger("chosen:updated");
        $('#col6').show();
        <% end %>
        <% else %>
        $("#select1, #select5, #select2, #select3, #select4").attr('disabled', true).trigger("chosen:updated");
        $('#col6').hide();
        <% end %>

        $('#checkbox1').click(function () {
            if (this.checked) {
                $("#select1").attr('disabled', false).trigger("chosen:updated");
            } else {
                $("#select1").attr('disabled', true).trigger("chosen:updated");
                $('#select1').val([]).trigger('chosen:updated');
                $('#campo1').val("");
                $('#save_mails').prop('disabled', true)
            }
        });
        $('#checkbox2').click(function () {
            if (this.checked) {
                $("#select2").attr('disabled', false).trigger("chosen:updated");
            } else {
                //$("#select2").prop("disabled", true);
                $("#select2").attr('disabled', true).trigger("chosen:updated");
                $('#campo5').val("");
                $('#select2').val([]).trigger('chosen:updated');
                $("#col2").hide();
                $('#save_mails').prop('disabled', true)
            }
        });
        $('#checkbox3').click(function () {
            if (this.checked) {
                $("#select3").attr('disabled', false).trigger("chosen:updated");
            } else {
                $("#select3").attr('disabled', true).trigger("chosen:updated");
                $('#select3').val([]).trigger('chosen:updated');
                $('#campo3').val("");
                $('#save_mails').prop('disabled', true)
            }
        });
        $('#checkbox4').click(function () {
            if (this.checked) {
                $("#select4").attr('disabled', false).trigger("chosen:updated");
            } else {
                $("#select4").attr('disabled', true).trigger("chosen:updated");
                $('#select4').val([]).trigger('chosen:updated');
                $('#campo4').val("");
                $('#save_mails').prop('disabled', true)
            }
        });
        $('#checkbox5').click(function () {
            if (this.checked) {
                $("#select5").attr('disabled', false).trigger("chosen:updated");
                $("#col6").show();
            } else {
                $("#select5").attr('disabled', true).trigger("chosen:updated");
                $("#radioref3").prop("checked", false);
                $("#radioref4").prop("checked", false);
                $('#campo5').val("");
                $('#camporadio').val("");
                $('#select5').val([]).trigger('chosen:updated');
                $("#col6").hide();
                $('#save_mails').prop('disabled', true)
            }
        });
    });


    $('#select1').change(function () {
        var campo1 = $(this).val();
        var campo3 = $("#select3").val();
        var campo4 = $("#select4").val();
        var campo5 = $("#select5").val();

        if (campo1 != 'null' || campo3 != 'null' || campo4 != 'null' || campo5 != 'null') {
            $('#save_mails').prop("disabled", false)
        } else {
            $('#save_mails').prop("disabled", true)
        }
    });
    $('#select2').change(function () {
        var campo1 = $("#select1").val();
        var campo3 = $("#select3").val();
        var campo4 = $("#select4").val();
        var campo5 = $(this).val();

        if (campo1 != 'null' || campo3 != 'null' || campo4 != 'null' || campo5 != 'null') {
            $('#save_mails').prop("disabled", false)
        } else {
            $('#save_mails').prop("disabled", true)
        }
    });
    $('#select3').change(function () {
        var campo1 = $("#select1").val();
        var campo3 = $(this).val();
        var campo4 = $("#select4").val();
        var campo5 = $("#select5").val();

        if (campo1 != 'null' || campo3 != 'null' || campo4 != 'null' || campo5 != 'null') {
            $('#save_mails').prop("disabled", false)
        } else {
            $('#save_mails').prop("disabled", true)
        }
    });
    $('#select4').change(function () {
        var campo1 = $("#select1").val();
        var campo3 = $("#select3").val();
        var campo4 = $(this).val();
        var campo5 = $("#select5").val();

        if (campo1 != 'null' || campo3 != 'null' || campo4 != 'null' || campo5 != 'null') {
            $('#save_mails').prop("disabled", false)
        } else {
            $('#save_mails').prop("disabled", true)
        }
    });
    $('#select5').change(function () {
        var campo1 = $("#select1").val();
        var campo3 = $("#select3").val();
        var campo4 = $("#select4").val();
        var campo5 = $(this).val();

        if (campo1 != 'null' || campo3 != 'null' || campo4 != 'null' || campo5 != 'null') {
            $('#save_mails').prop("disabled", false)
        } else {
            $('#save_mails').prop("disabled", true)
        }
    });

    //Validacin para que los inputs no acepten NÚMEROS
    $('.form-control').on('input', function () {
        valor = $(this).val();
        patron = /^[ a-zA-Záéíóúüñ]*$/
        remp = /[^ a-zA-Záéíóúüñ]/gi
        if (!patron.test(valor)) {
            this.value = valor.replace(remp, "");
        }
    });


    //---- Validación de campos requeridos.
    $('#form1').validate({
        messages: {
            "group[name]": {
                required: "<%= t('all.requi')%>"
            }
        },
        //ACOMODAR MENSAJES DEBAJO DE LOS INPUT-GROUP DEMO: http://jsfiddle.net/mapb_1990/hTPY7/7/
        errorPlacement: function (error, element) {
            if (element.parent('.input-group').length) {
                error.insertAfter(element.parent());
            } else {
                error.insertAfter(element);
            }
        }
    });
    //---- Fin validación de campos requeridos
</script>