<tr id="dato_<%= group.id %>">
  <td class="text-center"><%= group.name %></td>
  <td align="center" data-toggle="tooltip" data-placement="bottom" title=<%= t('all.add') %> align="center">
    <% if group.mail_groups.count > 0 %>
      <%= group.mail_groups.count %> |
      <%= link_to ('<button class="btn btn-primary btn-xs" type="button"><i class="fa fa-plus"></i></button>').html_safe, new_mail_group_path(:id_group => group.id) %>
    <% else %>
      <%= t('views.groups_index.vacio') %>
      <%= link_to ('<button class="btn btn-primary btn-xs" type="button"><i class="fa fa-plus"></i></button>').html_safe, new_mail_group_path(:id_group => group.id) %>
    <% end %>
  </td>
  <td align="center" data-toggle="tooltip" data-placement="bottom" title=<%= t('all.show') %> align="center">
    <%#= if @leerEmail == 2 %>
    <%= link_to '<button class="btn btn-primary btn-xs" type="button"><i class="fa fa-file-text "></i></button>'.html_safe, {:controller => "mail_groups", :action => "index", :id => group.id}, :data => {:no_turbolink => true} %>
    <%# end %>
  </td>
  <td align="center" data-toggle="tooltip" data-placement="bottom" title=<%= t('all.edit') %> align="center">
    <%# if @editarEmail == 4 %>
    <%= link_to '<button class="btn btn-warning btn-xs" type="button"><i class="fa fa-pencil"></i></button>'.html_safe, edit_group_path(group) %>
    <%# end %>
  </td>
  <td align="center" data-toggle="tooltip" data-placement="bottom" title=<%= t('all.destroy') %> align="center">
    <%# if @eliminarEmail == 1 %>
    <button class="btn btn-danger btn-xs  eliminar" type="button" id="<%= group.id %>">
      <i class="fa fa-trash-o"></i>
    </button>
    <%# end %>
  </td>
</tr>
