<%# @state = Testadosxalerta.find_by_IdEstado(params[:id]) %>
<%= form_for(@state) do |f| %>
  <% if state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(state.errors.count, "error") %> prohibited this area from being saved:</h2>

      <ul>
        <% state.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

      <div class="field">
        <%= f.label t('all.name') %>
        <%= f.text_field :Descripcion, :class => 'form-control', :required => true, :id => 'nombre', autocomplete: "off", :maxlength => '255' %>
        <!--        <input type="hidden" name="nombrePas" id="nombrePas">-->
        <br>
      </div>
      <div class="field">
        <%= f.label t('views.states_index.message_default') %>
        <%= f.text_field :mensajeDefault, :class => 'form-control', :required => true, :id => 'mensajeDefault', autocomplete: "off", :maxlength => '255' %>
        <!--        <input type="hidden" name="nombrePas" id="nombrePas">-->
      </div>


    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

      <div class="field">
        <br>
        <label><%= t('views.states_index.fraud') %></label>
        <br>
        <% if @state.falso_positivo.present? %>
          <% if @state.falso_positivo == 1 %>
            <input type="checkbox" class="i-checks yes" value="1" name="yes" id="yes">&nbsp;<%= t('views.states_index.fraud_yes') %>
            <br>
            <br>
            <input type="checkbox" class="i-checks no" value="0" name="no" id="no">&nbsp;<%= t('views.states_index.fraud_no') %>
            <br>
            <input type="checkbox" class="i-checks porDef" value="2" name="porDef" id="porDef">&nbsp;<%= t('views.states_index.fraud_pend') %>
          <% elsif @state.falso_positivo == 0 %>
            <input type="checkbox" class="i-checks yes" value="1" name="yes" id="yes">&nbsp;<%= t('views.states_index.fraud_yes') %>
            <br>
            <input type="checkbox" class="i-checks no" checked value="0" name="no" id="no">&nbsp;<%= t('views.states_index.fraud_no') %>
            <br>
            <input type="checkbox" class="i-checks porDef" value="2" name="porDef" id="porDef">&nbsp;<%= t('views.states_index.fraud_pend') %>
          <% elsif @state.falso_positivo == 2 %>
            <input type="checkbox" class="i-checks yes" value="1" name="yes" id="yes">&nbsp;<%= t('views.states_index.fraud_yes') %>
            <br>
            <input type="checkbox" class="i-checks no" value="0" name="no" id="no">&nbsp;<%= t('views.states_index.fraud_no') %>
            <br>
            <input type="checkbox" class="i-checks porDef" checked value="2" name="porDef" id="porDef">&nbsp;<%= t('views.states_index.fraud_pend') %>
          <% end %>
          <% else %>
          <input type="checkbox" class="i-checks yes" value="1" name="yes" id="yes">&nbsp;<%= t('views.states_index.fraud_yes') %>
          <br>
          <input type="checkbox" class="i-checks no" value="0" name="no" id="no">&nbsp;<%= t('views.states_index.fraud_no') %>
          <br>
          <input type="checkbox" class="i-checks porDef" value="2" name="porDef" id="porDef">&nbsp;<%= t('views.states_index.fraud_pend') %>
        <% end %>



      </div>

    </div>
    <div class="col-md-3"></div>
  </div>

  <div class="col-md-12 hr-line-dashed"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="actions">
        <button type="submit" class="btn btn-xs btn-primary " value="<%= t('all.save') %>" name="btnSave">
          <i class="fa fa-sticky-note"></i>  <%= t('all.save') %>
        </button>
        <%= link_to '<span class="fa fa-sticky-note" ></span>  '.html_safe + t('all.back'), states_path, :class => 'btn btn-xs btn-primary dim' %>
      </div>
    </div>
  </div>

<% end %>



