<%
  @countTrans = Tbitacora.where(:canceladas => 0).where(:IdTipoReg => 3).where(:IdProducto => 1).count
  @countPerf = Tbitacora.where(:canceladas => 0).where(:IdTipoReg => 3).where(:IdProducto => 2).count

  @todas = @countTrans.to_i + @countPerf.to_i
%>
<h1 class="no-margins"><%= number_with_delimiter(@todas, :delimiter => ',') %></h1>

