<p id="notice"><%= notice %></p>

<h1>Permissions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Crear</th>
      <th>Editar</th>
      <th>Leer</th>
      <th>Eliminar</th>
      <th>Permission</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @permissions.each do |permission| %>
      <tr>
        <td><%= permission.name %></td>
        <td><%= permission.crear %></td>
        <td><%= permission.editar %></td>
        <td><%= permission.leer %></td>
        <td><%= permission.eliminar %></td>
        <td><%= permission.permission_id %></td>
        <td><%= link_to 'Show', permission %></td>
        <td><%= link_to 'Edit', edit_permission_path(permission) %></td>
        <td><%= link_to 'Destroy', permission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New permission', new_permission_path %>
