<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @permission.name %>
</p>

<p>
  <strong>Crear:</strong>
  <%= @permission.crear %>
</p>

<p>
  <strong>Editar:</strong>
  <%= @permission.editar %>
</p>

<p>
  <strong>Leer:</strong>
  <%= @permission.leer %>
</p>

<p>
  <strong>Eliminar:</strong>
  <%= @permission.eliminar %>
</p>

<p>
  <strong>Permission:</strong>
  <%= @permission.permission_id %>
</p>

<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>
