<div class="row">
  <div class="form-group">
    <div class="row">
      <div class="col-md-6 text-left" id="text">
        <!--<#% @fechacontadores = Time.now.strftime("%Y-%m-%d")-->
        <!--@bitaTotal = Tbitacora.where(:IdEstado => 1).where(:canceladas => 0).where(:IdTipoReg => 3).where(:Fecha => @fechacontadores).where.not(:IdUsuario => "N/A").count %>-->

        <%
          @bitaAlertasAtendidasTran = Tatendidasxhoy.where(:fecha => Time.now.strftime("%Y-%m-%d")).where(:idProducto => 1).first.cantidad
          @bitaAlertasAtendidasPer = Tatendidasxhoy.where(:fecha => Time.now.strftime("%Y-%m-%d")).where(:idProducto => 2).first.cantidad
          @bitacoratotal = @bitaAlertasAtendidasTran.to_i + @bitaAlertasAtendidasPer.to_i
        %>

        <br/>
        <h3 class="font-bold izq"><%= t('views.alertc_par2.atend') %></h3>
        <h2 class="izq"><%= number_with_delimiter(@bitacoratotal, :delimiter => ',') %></h2>
      </div>
      <div class="col-md-6 text-right" id="text">
        <% @fechacontadores = Time.now.strftime("%Y-%m-%d")
           @bitaTotal = Tbitacora.where(:IdEstado => 1).where(:canceladas => 0).where(:IdTipoReg => 3).where(:Fecha => @fechacontadores).where(:IdUsuario => "N/A").count %>
        <br/>
        <h3 class="font-bold der"><%= t('views.alertc_par2.not_atend') %></h3>
        <h2 class="der"><%= number_with_delimiter(@bitaTotal, :delimiter => ',') %></h2>
      </div>
    </div>
  </div>
</div>
<!--<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>-->
<script type="text/javascript">

    <% if controller_name == "alertn" && (action_name == "alertPer" || action_name == "alertTran") %>
    //----- Fixed para Counters
    $(document).ready(function () {
        $(window).ready(function() {
            if ($(this).scrollTop() > 95) {
                $('#conte').addClass('fixedcount');
                $('#margen').addClass('mar');
                $("#a1, #a2, #a3").hide();
                $('#text h3').css('font-size', '12px');
                $('#text h2').css('font-size', '12px');
            }
        });
    });
    <% end %>
    //
    //     $(window).scroll(function () {
    //         if ($(this).scrollTop() > 95) {
    //             $('#conte').addClass('fixedcount');
    //             $('#margen').addClass('mar');
    //             $("#a1, #a2, #a3").hide();
    //             $('#p2, #p3, #p4').removeClass('navy-bg');
    //             $('#p2, #p3, #p4').addClass('navy-bg-tam');
    //             $('#text h3').css('font-size', '12px');
    //             $('#text h2').css('font-size', '12px');
    //         } else {
    //             $('#conte').removeClass('fixedcount');
    //             $('#margen').removeClass('mar');
    //             $("#a1, #a2, #a3").show();
    //             $('#p2, #p3, #p4').removeClass('navy-bg-tam');
    //             $('#p2, #p3, #p4').addClass('navy-bg');
    //             $('#text h3').css('font-size', '16px');
    //             $('#text h2').css('font-size', '24px');
    //         }
    //     });
    // });
    // ----- Fixed para Counters

    <% if @mensaje == true %>
    $(document).ready(parpa);
    function parpa() {
        $('#p2').fadeIn(500).delay(250).fadeOut(500, parpa)
        setTimeout("$('#p2').stop(true,true).css('opacity', 1)", 5000);
    }
    <% end %>
</script>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">-->
<!--    function actualizarTamaño() {-->
<!--        $("h2").css("zoom", window.innerWidth / 500);-->
<!--    }-->
<!--    $(document).ready(function () {-->
<!--        // actualizaremos el zoom cuando la ventana cambie de tamaño-->
<!--        $(window).on("resize", actualizarTamaño);-->
<!--        // y al cargar la página-->
<!--        actualizarTamaño();-->
<!--    });-->
<!--</script>-->