<%= stylesheet_link_tag 'tx_filter_details' %>
<div class="ibox-content" style="padding: 4em 1.5em">
  <%= form_for (tx_filter_detail) do |f| %>
    <% if tx_filter_detail.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(tx_filter_detail.errors.count, "error") %> prohibited this tx_filter_detail from being saved:</h2>

        <ul>
          <% tx_filter_detail.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <article class="row">
      <% disabled = ''%>
      <% if tx_filter_detail.parenthesis != '0' %>
        <% disabled = 'disabled'%>
      <% end %>
      <%= f.hidden_field :parenthesis %>

      <div class="col-lg-1 cont-denied">
        <%= f.label :denied, t('views.tx_filter_detail_new.denied'), style:'display: block' %>
        <%= f.check_box :denied %>
      </div>
      <div class="col-lg-1 cont-connector">
        <!-- Inputs AND y OR -->
        <input type="hidden" id="or" value="<%= t('views.tx_filter_detail_new.or') %>">
        <input type="hidden" id="and" value="<%= t('views.tx_filter_detail_new.and') %>">

        <%= f.label :connector, t('views.tx_filter_detail_new.connectors'), style:'display: block' %>
        <input type="hidden" id="connector" name="tipoConector" value="<%= tx_filter_detail.connector %>">
        <% if tx_filter_detail.connector. != '-1'  %>
        <span class="btn btn-primary btn-xs conectorEdit" title="Cambiar conector">
          <% if tx_filter_detail.connector == "0" %>
            <%= t('views.tx_filter_detail_new.or') %>
          <% elsif tx_filter_detail.connector == "1" %>
            <%= t('views.tx_filter_detail_new.and') %>
          <% end %>
        </span>
        <% end %>
      </div>
      <div class="col-lg-2 cont-campo">

        <% @idFilter = tx_filter_detail.filter_id %>
        <% @idSession = TxFilter.where(:Id => @idFilter) %>

        <% @idSession.each do | filter | %>
          <input type="hidden" id="idSession" value="<%= filter.Session_id%>">
        <% end %>

        <!-- Valor del campo -->
        <input type="hidden" id="campoId" value="<%= tx_filter_detail.fieldFormat_id %>">
        <!-- Valor de su posision -->
        <%= f.text_field :position, id:'posEdit', type:'hidden' %>
        <!-- Valor de su longitud -->
        <%= f.text_field :lenght, id:'lengEdit', type:'hidden' %>
        <%= f.label :fieldFormat_id, t('views.tx_filter_detail_new.feild') %>
        <select name="campo" id="selectCampo" class="form-control" <%= disabled %>></select>
      </div>
      <div class="col-lg-2 cont-operator">
        <input type="hidden" id="operatorVal" value="<%= tx_filter_detail.operator %>" >
        <%= f.label :operator, t('views.tx_filter_detail_new.operators') %>
        <select name="operator" id="selectOperator" class="form-control" <%= disabled %>>
          <option value="0"> = </option>
          <option value="1"> <> </option>
          <option value="2"> > </option>
          <option value="3"> >= </option>
          <option value="4"> < </option>
          <option value="5"> <= </option>
          <option value="6"> Like </option>
          <option value="7"> In </option>
          <option value="8"> Between </option>
        </select>
      </div>
      <div class="col-lg-3 cont-values">
        <%= f.label :value, t('views.tx_filter_detail_new.value') +' '+ '('+ t('views.tx_filter_detail_new.ees') +')' %>
        <% if tx_filter_detail.operator == '8' %>
          <% @values = tx_filter_detail.value.split('}').join(" ")%>
          <% @valoresBetween = @values.split('{') %>
          <% @value = @valoresBetween[1].delete(' ') %>
          <% @valorDos = @valoresBetween[2] %>
          <%# dis = "block" %>
        <% else %>
          <% @value = tx_filter_detail.value %>
          <% dis = "none" %>
        <% end %>
        <div class="cont-inputs">
          <div class="values valUno">
            <input type="text" id="valorUno" name="valor" value="<%= @value %>" class="form-control" <%= disabled %> autocomplete="off">
          </div>
          <div class="values valDos" style="display: <%= dis %>">
            <input type="text" id="valorDos" name="valorDos" value="<%= @valorDos %>" class="form-control" <%= disabled %> autocomplete="off">
          </div>
        </div>
      </div>
    </article>

    <div class="action" style="margin-top: 5em">
      <%= button_tag(type: 'submit', class: 'btn btn-primary btn-xs') do %>
        <%= t('views.mail_group_form.btn_Save') %>
      <% end %>

      <a href="/tx_filter_details/new?id=<%= tx_filter_detail.filter_id %>" class="btn btn-primary btn-xs"><%= t('all.back') %></a>
    </div>
  <% end %>

  <div class="traducciones" style="display: none;">
    <input id="traduSeleFormat" type="hidden" value="<%= t('views.tx_session_new.select_format') %>">
    <input id="traduSeleFeild" type="hidden" value="<%= t('views.tx_filter_detail_new.select_feild') %>">
    <input id="traduSeleList" type="hidden" value="<%= t('views.tx_filter_detail_new.select_list') %>">
    <input id="traduPlaceAddList" type="hidden" value="<%= t('views.tx_filter_detail_new.place_add_list') %>">
    <input type="hidden" id="swalSorry" value="<%= t('swal.sorry') %>" >
    <input type="hidden" id="swalCondiIncompleta" value="<%= t('swal.txt_condi_incompleta') %>" >
    <input type="hidden" id="swalCondiExiste" value="<%= t('swal.txt_condi_existe') %>" >
    <input type="hidden" id="swalCondiDelete" value="<%= t('swal.txt_condi_delete') %>" >
    <input type="hidden" id="txtAnd" value="<%= t('views.tx_filter_detail_new.and') %>" >
    <input type="hidden" id="txtOr" value="<%= t('views.tx_filter_detail_new.or') %>" >
    <input type="hidden" id="swalDelete" value="<%= t('all.delete') %>" >
    <input type="hidden" id="dataWillLose" value="<%= t('swal.title_delete') %>" >
    <input type="hidden" id="youSure" value="<%= t('swal.txt_are_sure') %>" >
    <input type="hidden" id="btn_yes" value="<%= t('swal.btn_yes') %>" >
    <input type="hidden" id="btn_confir" value="<%= t('swal.btn_confirm') %>" >
    <input type="hidden" id="btn_cancel" value="<%= t('swal.btn_cancel') %>" >
    <input type="hidden" id="btn_cancel2" value="<%= t('swal.btn_cancel2') %>" >
    <input type="hidden" id="titleCancel" value="<%= t('swal.title_canceled') %>" >
    <input type="hidden" id="txtCancel" value="<%= t('swal.txt_canceled') %>" >
    <input type="hidden" id="noPalabra" value="<%= t('views.tx_filter_detail_new.notPalabra') %>" >
    <input type="hidden" id="noAddCone" value="<%= t('swal.txt_no_add_par_cone') %>" >
    <input type="hidden" id="noAddSinCon" value="<%= t('swal.txt_no_add_par_sinCon') %>" >
  </div>
</div>

