<div id="references-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #003057; color: #fff; border-radius: 3px 0px;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= title %></h4>
      </div>
      <%= form_for @tx_schedule_reference, remote: true do |f| %>
        <% if @tx_schedule_reference.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@tx_schedule_reference.errors.count, "error") %> prohibited this tx_schedule_reference from being saved:</h2>

            <ul>
              <% @tx_schedule_reference.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="modal-body">
          <div class="campos_ref">
            <!-- arraglo arraglo de id composRef -->
            <input type="hidden" id="arrCmpRe" name="arrCmpRe">

            <table class="table table-striped table-hover">
              <thead>
              <tr>
                <th>Elige</th>
                <th>Campo</th>
              </tr>
              </thead>
              <tbody id="contentCamposRef">
              <!-- Se agrega de forma dinamica los campos de referencia -->
              </tbody>
            </table>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-xs" data-dismiss="modal"><%= t('views.tx_filter_schedules_new.close') %></button>
          <%#= f.submit t('all.save'), class: "btn btn-primary btn-xs"%>
        </div>
      <% end %>

      <script type="text/javascript" charset="utf-8">

        let consultaReferencia = JSON.parse('<%= @cp %>'.replace(/&quot;/g,'"').replace(/&gt;/g,'').replace(/=/g,':').replace(/nil/g,'null'));

        // console.log(consultaReferencia)
        //--- Llena la tabla que hay en la modal
        function llenarcampos( idSession ){

            //---Elimina los campos de la tabla
            $("#contentCamposRef").children().remove();

            for (let i = 0; i < gon.sesiones.length; i++){
                let sesionId = gon.sesiones[i].Id,
                    layId = gon.sesiones[i].Lay_id,
                    formatId = gon.sesiones[i].Format_id;

                if ( idSession == sesionId ){


                    for ( let c = 0; c < gon.tCamposFormatos.length; c++ ){

                        if ( (gon.tCamposFormatos[c].IdLay == layId ) && ( gon.tCamposFormatos[c].IdFormato == formatId) ){

                            for( let d = 0; d < gon.tCamposLays.length; d++ ){

                                if ( ( gon.tCamposLays[d].IdLay == gon.tCamposFormatos[c].IdLay ) && ( gon.tCamposLays[d].IdCampo == gon.tCamposFormatos[c].IdCampo )  ){

                                    if ( gon.tCamposLays[d].Alias != ""){

                                        campoTxt = `${gon.tCamposLays[d].Alias}`;

                                    } else {

                                        campoTxt = `${gon.tCamposLays[d].Nombre}`;

                                    }

                                    let trCampo = `<tr>
                                              <td>

                                                  <input type="checkbox" value="${gon.tCamposLays[d].IdCampo}" class="check-id-Campo">
                                              </td>
                                              <td>${campoTxt}</td>
                                         </tr>`;

                                    $("#contentCamposRef").append(trCampo);
                                }
                            }
                        }
                    }
                }
            }
        }

        let idSession = "<%= params[:idSession] %>";

        llenarcampos( idSession );

        //--- Checkbox de todos los campos
        let inputsCheck = $("#contentCamposRef").find('input.check-id-Campo');

        // Cilco for donde se agrega el checked a los input
        for ( const campo of  consultaReferencia ){

            let id = campo['id'],
                campoId = campo['field_formatId']

            inputsCheck.each(function(){
                let valIdCampocheck = $(this).val();

                if ( campoId == valIdCampocheck ){

                    $(this).prop('checked', true);
                    this.setAttribute('id',`${id}`);
                }

            });
        }
      </script>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
