<% if @tx_schedule_reference.errors.empty? %>
// add the row to the table, show alert and hide modal
//alert('Campos modificados')
//$('table tbody').append(' <%#= j render "row", product: @product %>');
$('.alert-success').html("Se editaron de forma correcta los campos").show();
$('#references-modal').modal('hide');
<% else %>
// show first error
alert('<%= @tx_schedule_reference.errors.full_messages[0] %>');
<% end %>