<p id="notice"><%= notice %></p>

<h1>Tx Schedule References</h1>

<table>
  <thead>
    <tr>
      <th>Schedule</th>
      <th>Field formatid</th>
      <th>Key</th>
      <th>Session</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tx_schedule_references.each do |tx_schedule_reference| %>
      <tr>
        <td><%= tx_schedule_reference.schedule_id %></td>
        <td><%= tx_schedule_reference.field_formatId %></td>
        <td><%= tx_schedule_reference.key_id %></td>
        <td><%= tx_schedule_reference.session_id %></td>
        <td><%= link_to 'Show', tx_schedule_reference %></td>
        <td><%= link_to 'Edit', edit_tx_schedule_reference_path(tx_schedule_reference) %></td>
        <td><%= link_to 'Destroy', tx_schedule_reference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tx Schedule Reference', new_tx_schedule_reference_path %>
